﻿@using FluentBootstrap
@model ICollection<Domain.ProductType>
           
<script>
    var selectData = {
        @foreach (var productType in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", productType.Id, productType.Code, productType.Name))
        }
    };
</script>

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "product_types-table").Begin())
{
    @table.TableHeaderRow("Название", "Код", "").SetAlignment(TextAlignment.Center)

    foreach (var productType in Model)
    {
        @table.TableDataRow(
               productType.Name,
               productType.Code,
               Html.Bootstrap().CenterBlock().AddContent(
                          Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", productType.Id)
                            ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", productType.Id))
           ).AddCss("pointer  selectable").AddAttribute("data-object-id", productType.Id)
    }

}