﻿@using FluentBootstrap
@model ICollection<Domain.Dto.RoleDto>

@{
    ViewBag.Title = "Роли";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(document).on('click', ".object-row", function () {
            EditObjectView("@Url.Action("Edit", "Roles")",$(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove" , function () {
            DeleteObject("@Url.Action("Delete", "Roles")", "@Url.Action("IndexData","Roles")", $(this).attr("data-object-id"), "#roles-table").fail(function() {
                BootstrapDialog.show({
                    type: BootstrapDialog.TYPE_DANGER,
                    title: 'Ошибка',
                    message: 'Не возможно удалить объект, проверьте связи этого объекта'
                });
            });
            return false;
        });

        $(".editable").editable();
    });
</script>

<h2>@ViewBag.Title</h2>
@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Roles")
        ).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Roles/IndexData.cshtml", Model)