﻿@using FluentBootstrap
@model ICollection<Domain.Dto.RoleDto>

<script>
    var selectData = {
        @foreach (var role in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", role.Id, role.Code, role.Name))
        }
    };
</script>

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "roles-table").Begin())
{
    @table.TableHeaderRow("Название", "").SetAlignment(TextAlignment.Center)

    foreach (var role in Model)
    {
        @table.TableDataRow(
            role.Name,
            Html.Bootstrap().CenterBlock().AddContent(
                Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", role.Id)
                ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", role.Id)
                ).AddContent(Html.Bootstrap().CheckBox().AddCss("multiple-selector").AddStyle("display", "none").AddAttribute("data-object-id", role.Id))
            ).AddCss("pointer selectable").AddAttribute("data-object-id", role.Id)
    }
}