﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.Dto.UserDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового пользователя" : "Редактирование пользователя";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>

    var rolesArr;

    $(document).ready(function() {
        rolesArr = [
            @if (Model != null && Model.Roles != null)
            {
                for (var i = 0; i < Model.Roles.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}'}},", Model.Roles.ElementAt(i).Id, i, Model.Roles.ElementAt(i).Name).Replace(@"\", "/"))
                }
            }
        ];

        rivets.formatters.inside = function (value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, {
            rolesArr: rolesArr
        });
    });

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function(el, ind) {
            el.Index = ind;
        });

        return id;
    }

    function ChangePwd()
    {
        $.post('@Url.Action("ChangePwd", "Users")', { userId: $('input[name=Id]').val(), password: $('input[name=password]').val() })
            .done(function () {
            $('input[name=password]').val('');
                BootstrapDialog.show(
                    { type: BootstrapDialog.TYPE_SUCCESS, title: 'Успех', message: 'Пароль изменен' });
            });
    }
</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("AddWPwd", "Users").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m => m.Name)
    @form.EditorFor(m => m.Login)
    @form.EditorFor(m => m.Email)
    if (Model.Id == 0)
    {
        @form.Input("password", "Пароль", null, null, FormInputType.Password)
    }
    else
    {
        <div class="form-group">
            <label class="control-label">Пароль</label>
            <div class="input-group">
                <input id="password-input" name="password" type="password" class="form-control" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="ChangePwd()">Сменить</button>
                </span>
            </div>
        </div>
    }

    @form.SelectFor(m => m.Status, new SelectList(DescribedEnum<UserState>.DescriptionsList(), Model.Status))

    <br />
    <hr />
    <div class="form-group roles-block">
        <h3><label class="control-label">Роли</label></h3>
        <div id="prices-input-block" class="input-group">
            <input rv-each-role="rolesArr" rv-name="role.Index | inside 'Roles[' '].Id'" type="Hidden" class="form-control" rv-value="role.Id">
            <input rv-each-role="rolesArr" rv-name="role.Index | inside 'Roles[' '].Name'" type="Hidden" class="form-control" rv-value="role.Name">
            <button class="btn btn-success" type="button" onclick="SelectModal('Roles', '', true).done(function () { lastSelectItem.forEach(function (item) { rolesArr.push({ Id: item.Id, Index: rolesArr.length, Name: item.Name }); }); })">Выбрать</button>

            <br />
            <h3 rv-each-role="rolesArr"><span class="label label-default"> {role.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="role.Index | inside 'DeleteFromBindingObject(' ', rolesArr)'"></i></span></h3>
        </div>
    </div>
    <hr />
    <br />

    @form.Submit("Сохранить")
}
