﻿@using FluentBootstrap
@model ICollection<Domain.Dto.UserDto>

<div id="users-table-block">
    <script>
        var selectData = {
            @foreach (var user in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}', Login:'{3}' }},", user.Id, user.Code, user.Name, user.Login))
            }

        };
    </script>

    @helper MakeBlock(List<string> data)
{
    var block = Html.Bootstrap().CenterBlock();

    foreach (var el in data)
    {
        block.AddContent(Html.Bootstrap().Label(el));
    }
    @block
}

    @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "customers-table").AddCss("table-fixedlayout last-td-fixed").Begin())
    {
        @table.TableHeaderRow("ФИО", "Логин", "Электронная почта", "Статус", "Роли", "").SetAlignment(TextAlignment.Center)

        foreach (var user in Model)
        {
            @table.TableDataRow(
                user.Name,
                user.Login,
                user.Email,
                user.Status,
                user.Roles.Select(r=>r.Name).Aggregate((rs,re)=>rs + ", " + re),
                Html.Bootstrap().CenterBlock().AddContent(
                         Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", user.Id)
                         ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", user.Id))
                     ).AddCss("pointer selectable").AddAttribute("data-object-id", user.Id)
        }

    }

</div>