﻿<!DOCTYPE html>

<html>
<head>
    <title>Авторизация</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/content/css/app.css" />
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Авторизация</div>
                   @* <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Забыли пароль?</a></div>*@
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" method="post" action="@Url.Action("In","Auth")">
                        
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="login" value="@ViewBag.Login" placeholder="Логин">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Пароль">
                        </div>

                        @if (!string.IsNullOrEmpty(ViewBag.ErrorText))
                        {
                            <div class="input-group">
                                <label style="color:red">
                                    @ViewBag.ErrorText
                                </label>
                            </div>
                        }
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" id="btn-login" class="btn btn-success" value="Войти" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>