﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html

<ol class="breadcrumb">
    @foreach (var node in Model)
    {
        <li>
            @Html.DisplayFor(m => node)
        </li>
    }
</ol>
