﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.Dto.CouponDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового купона" : "Редактирование купона";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var productsArr;

    $(document).ready(function() {
        productsArr = [
            @if (Model != null && Model.Products != null)
            {
                for (var i = 0; i < Model.Products.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}'}},", Model.Products.ElementAt(i).Key, i, Model.Products.ElementAt(i).Value))
                }
            }
        ];

        rivets.formatters.inside = function(value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, {
            productsArr: productsArr,
        });
    });

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function (el, ind) {
            el.Index = ind;
        });

        return id;
    }
</script>

<script>
    $(document).ready(function() {
        $('.date').datepicker({ language: 'ru' }).on('changeDate', function (e) {
            $('.date').datepicker('hide');
            $("input[name='EndDate']").val(e.date.toISOString());
        });
    })
</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("Add", "Coupons").Begin())
{
    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m => m.Name)
    @form.EditorFor(m => m.Description)
    @form.EditorFor(m => m.Code)
    @form.SelectFor(m => m.StatusName, new SelectList(DescribedEnum<CouponState>.DescriptionsList(), Model.StatusName))

    @form.InputFor(m => m.DiscountValue, FormInputType.Number).AddAttribute("step","any")
    @form.InputFor(m => m.MaxUseCount, FormInputType.Number).AddAttribute("step", "any")


    <label class="control-label">Дата окончания</label>
    <input type="hidden" name="EndDate" value="@( Model.EndDate == null ? "" : Model.EndDate.Value.ToShortDateString())">
    <div class="input-group date">
        <input type="text" class="form-control" value="@(Model.EndDate == null ? "" : Model.EndDate.Value.ToString("dd.MM.yyyy"))" readonly="readonly">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>

    <hr/>
    <div class="form-group products-block">
        <h3>
            <label class="control-label">Продукты</label>
        </h3>
        <div id="featured-input-block" class="input-group">
            <input rv-each-product="productsArr" rv-name="product.Index | inside 'Products[' '].Key'" type="Hidden" class="form-control" rv-value="product.Id">
            <input rv-each-product="productsArr" rv-name="product.Index | inside 'Products[' '].Value'" type="Hidden" class="form-control" rv-value="product.Name">

            <button class="btn btn-success" type="button" onclick="SelectModal('Products').done(function(id) { productsArr.push({Id: id, Index: productsArr.length, Name:lastSelectItem.Name});})">Выбрать</button>

            <br />
            <h3 rv-each-product="productsArr"><span class="label label-default"> {product.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="product.Index | inside 'DeleteFromBindingObject(' ', productsArr)'"></i></span></h3>

        </div>
    </div>
    <hr/>
    <br/>

    @form.Submit("Сохранить")
}