﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.BonusProgram

@{
    ViewBag.Title = "Бонусная программа";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>

    var rulesArr;

    $(document).ready(function() {
        rulesArr = [
            @if (Model != null && Model.Rules != null)
            {
                for (var i = 0; i < Model.Rules.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, ChargeInterest:'{2}', MinShopOrderSum:'{3}', MaxShopOrderSum:'{4}', StartBonusSum:'{5}', EndBonusSum:'{6}' }},", Model.Rules.ElementAt(i).Id, i, Model.Rules.ElementAt(i).ChargeInterest.ToString("F"), Model.Rules.ElementAt(i).MinShopOrderSum, Model.Rules.ElementAt(i).MaxShopOrderSum, Model.Rules.ElementAt(i).StartBonusSum, Model.Rules.ElementAt(i).EndBonusSum).Replace(@"\", "/"))
                }
            }
        ];

        rivets.formatters.inside = function (value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, {
            rulesArr: rulesArr
        });
    });

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function(el, ind) {
            el.Index = ind;
        });

        return id;
    }

</script>

    <h2>@ViewBag.Title</h2>

    @using (var form = Html.Bootstrap(Model).Form("EditBonusProgram", "Loyality", FormMethod.Post).Begin())
{
    @form.HiddenFor(m=>m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m=>m.Name)
    @form.EditorFor(m=>m.Description)
    @form.SelectFor(m => m.Status, new SelectList(DescribedEnum<BonusProgramState>.Descriptions, "Key","Value", Model.Status))
    @form.EditorFor(m=>m.MaxDiscountPercent)

    <br />
    <hr />
    <div class="form-group prices-block">
            <h3><label class="control-label">Правила начисления бонусов</label></h3>
            <div id="prices-input-block" class="input-group">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].Id'" type="Hidden" class="form-control" rv-value="rule.Id">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].ChargeInterest'" type="Hidden" class="form-control" rv-value="rule.ChargeInterest">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].MinShopOrderSum'" type="Hidden" class="form-control" rv-value="rule.MinShopOrderSum">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].MaxShopOrderSum'" type="Hidden" class="form-control" rv-value="rule.MaxShopOrderSum">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].StartBonusSum'" type="Hidden" class="form-control" rv-value="rule.StartBonusSum">
                <input rv-each-rule="rulesArr" rv-name="rule.Index | inside 'Rules[' '].EndBonusSum'" type="Hidden" class="form-control" rv-value="rule.EndBonusSum">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label class="control-label">бонусный процент</label>
                        <input class="form-control" id="charge-interest" type="number" step="any" />
                    </div>
                    <div class="form-group col-xs-2">
                        <label class="control-label">минимальная сумма заказа</label>
                        <input class="form-control" id="min-shop-order-sum" type="number" step="any" />
                    </div>
                    <div class="form-group col-xs-2">
                        <label class="control-label">максимальная сумма заказа</label>
                        <input class="form-control" id="max-shop-order-sum" type="number" step="any" />
                    </div>
                    <div class="form-group col-xs-2">
                        <label class="control-label">стартовый бонусный баланс</label>
                        <input class="form-control" id="start-bonus-sum" type="number" step="any" />
                    </div>
                    <div class="form-group col-xs-2">
                        <label class="control-label">финишный бонусный баланс</label>
                        <input class="form-control" id="end-bonus-sum" type="number" step="any" />
                    </div>
                </div>
                <button class="btn btn-success" type="button" onclick=" if (!$('#charge-interest').val()) return; rulesArr.push({ Id: 0, ChargeInterest: $('#charge-interest').val(), MinShopOrderSum: $('#min-shop-order-sum').val(), MaxShopOrderSum: $('#max-shop-order-sum').val(), StartBonusSum: $('#start-bonus-sum').val(), EndBonusSum: $('#end-bonus-sum').val(), Index: rulesArr.length }); $('#charge-interest').val(''); $('#min-shop-order-sum').val(''); $('#max-shop-order-sum').val(''); $('#start-bonus-sum').val(''); $('#end-bonus-sum').val('');">Добавить</button>
                <br />
                <h3 rv-each-rule="rulesArr"><span class="label label-default"> {rule.ChargeInterest} : сумма заказа от {rule.MinShopOrderSum} до {rule.MaxShopOrderSum}, бонусный баланс от {rule.StartBonusSum} до {rule.EndBonusSum} <i class="glyphicon glyphicon-remove pointer" rv-onclick="rule.Index | inside 'DeleteFromBindingObject(' ', rulesArr)'"></i></span></h3>
            </div>
        </div>
    <hr />
    <br />

    @form.Submit("Сохранить")
}
