﻿h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p, div {
    font-family: 'Roboto', sans-serif;
}
.pointer {
    cursor: pointer;
}
.tr-last-child-text-center td:last-child {
    text-align: center;
}

.field-validation-error {
    color: #a94442;
}
.input-validation-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.glyphicon-refresh-animate {
    -animation: spin .9s infinite linear;
    -webkit-animation: spin2 .9s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.thumb img { 
    filter: none; /* IE6-9 */ 
    -webkit-filter: grayscale(0); 
    border-radius:5px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding:5px; 
} 
.thumb img:hover { 
    filter: gray; /* IE6-9 */ 
    -webkit-filter: grayscale(1); 
} 
.thumb { 
    padding:5px; 
} 

.table-preview-image {
    /*max-height: 80px;*/
    max-width: 90%;
    max-height: 90%;
    margin-left: 5px;
}
.table-content-vertical-align-middle td {
    vertical-align: middle !important;
}

.bottom-buffer {
    margin-bottom: 10px;
}

.table-head-italic thead th {
    font-style: italic;
}

.table-fixedlayout {
    table-layout: fixed;
}

.table-fixedlayout>thead>tr>th {
    word-wrap: break-word;
    vertical-align: top;
}

.table-fixedlayout>tbody>tr>td {
    word-wrap: break-word;
}

.last-td-fixed>tbody>tr>td:last-child {
    width: 50px;
}
.last-td-fixed>thead>tr>th:last-child {
    width: 50px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
    }
}

.span-object-name-container {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: .25em;
}
