﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.Dto.ReviewDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового отзыва" : "Редактирование отзыва";
    Layout = "~/Views/AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (var form = Html.Bootstrap(Model).Form().SetAction("Add", "Reviews").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    if (Model.Id > 0 && !Model.IsOwnerAnswer)
    {
        @(form.InputButton("Сформировать ответ компании").AddCss("btn-success")
                .AddAttribute("onclick", "location.href='" + Url.Action("AddOwnerAnswerReview", "Reviews",
                    new RouteValueDictionary(new Dictionary<string, object> {{"parentReviewId", Model.Id}, {"parentReviewTitle", Model.Title}}))+"'"))
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)
    
    @form.HiddenFor(m => m.CreationDate)
    @form.DisplayFor(m=>m.CreationDate)
    
    @form.EditorFor(m=>m.IsOwnerAnswer)
    
    @form.EditorFor(m=>m.Rate)
    
    @form.EditorFor(m=>m.Title)
    @form.TextAreaFor(m=>m.Description)
    
    @form.SelectFor(m => m.Status, new SelectList(DescribedEnum<ReviewState>.DescriptionsList(), Model.Status))

    <div class="form-group">
        <label class="control-label">Продукт</label>
        <div class="input-group">
            <input name="ProductId" type="hidden" value="@Model.ProductId">
            <input name="ProductName" type="text" class="form-control" value="@Model.ProductName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('Products').done(function(id) { $('input[name=ProductId]').val(id); if (lastSelectItem) { $('input[name=ProductName]').val(lastSelectItem.Name); }; })">...</button>
                <button class="btn btn-default" type="button" onclick="$('input[name=ProductId]').val(''); $('input[name=ProductName]').val('');">X</button>
            </span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label">Место</label>
        <div class="input-group">
            <input name="PlaceId" type="hidden" value="@Model.PlaceId">
            <input name="PlaceName" type="text" class="form-control" value="@Model.PlaceName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('Places').done(function (id) { $('input[name=PlaceId]').val(id); if (lastSelectItem) { $('input[name=PlaceName]').val(lastSelectItem.Name); }; })">...</button>
                <button class="btn btn-default" type="button" onclick="$('input[name=PlaceId]').val(''); $('input[name=PlaceName]').val('');">X</button>
            </span>
        </div>
    </div>

    <hr/>
    <div class="form-group">
        <h3><label class="control-label">Клиент</label></h3>
        <label class="control-label">Имя</label>
        <div class="input-group">
            <input name="CustomerId" type="hidden" value="@Model.CustomerId">
            <input name="DisplayName" type="text" class="form-control customer-field" value="@Model.DisplayName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('Customers').done(function(id) { $('input[name=CustomerId]').val(id); $('.customer-field').attr('readonly', 'readonly'); if (lastSelectItem) { $('input[name=DisplayName]').val(lastSelectItem.Name); $('input[name=DisplayEMail]').val(lastSelectItem.Email); }; })">...</button>
                <button class="btn btn-default" type="button" onclick="$('input[name=CustomerId]').val(''); $('.customer-field').removeAttr('readonly');">X</button>
            </span>
        </div>
        <br/>
        <label class="control-label">Электронная почта</label>
        <input name="DisplayEMail" type="text" class="form-control customer-field" value="@Model.DisplayEMail" readonly="readonly">
    </div>
    <hr />

    <div class="form-group">
        <label class="control-label">Родительский отзыв</label>
        <div class="input-group">
            <input name="ParentId" type="hidden" value="@Model.ParentId">
            <input name="ParentTitle" type="text" class="form-control" value="@Model.ParentTitle" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('Reviews').done(function(id) { $('input[name=ParentId]').val(id); if (lastSelectItem) { $('input[name=ParentTitle]').val(lastSelectItem.Title); }; })">...</button>
                <button class="btn btn-default" type="button" onclick="$('input[name=ParentId]').val(''); $('input[name=ParentTitle]').val('');">X</button>
            </span>
        </div>
    </div>
    
    @form.Submit("Сохранить")
}