﻿@using FluentBootstrap
@model ICollection<Domain.Dto.ReviewDto>

@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(document).on('click', ".object-row", function () {
            EditObjectView("@Url.Action("Edit", "Reviews")",$(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove", function () {
            DeleteObject("@Url.Action("Delete", "Reviews")", "@Url.Action("IndexData","Reviews")", $(this).attr("data-object-id"), "#reviews-table")
                .done(function () {
                    $(".tree-grid").treegrid();
                    $(".editable").editable();
                })
                .fail(function() {
                    $(".tree-grid").treegrid();
            });
        });
        $(".tree-grid").treegrid();
        $(".editable").editable();
    });
</script>

<h2>@ViewBag.Title</h2>


@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Reviews")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Reviews/IndexData.cshtml", Model)
