﻿@using Domain.Dto
@using FluentBootstrap
@using FluentBootstrap.Mvc
@using FluentBootstrap.Tables
@model ICollection<ReviewDto>

<script>
    var selectData = {
        @foreach (var review in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Title:'{2}' }},", review.Id, review.Code, review.Title))
        }
    };
</script>

@{
    var childReviews = Model.Where(c => c.ParentId > 0).ToList();
    var parentReviews = Model.Where(c => c.ParentId == 0).ToList().OrderByDescending(c => c.CreationDate).ToList();

}

@helper  MakeRow(ComponentWrapper<MvcBootstrapConfig<ICollection<ReviewDto>>, Table> table, ReviewDto review, List<ReviewDto> childReviews)
{

    @table.TableDataRow(review.Status,
                       Html.Bootstrap().CenterBlock().AddContent(
                               Html.Bootstrap().CheckBox(null, null, null, review.IsOwnerAnswer).IsDisabled()).AddStyle("text-align", "center"),
            review.ProductName,
            review.PlaceName,
            review.Rate,
            review.Title,
            Html.Bootstrap().CenterBlock().AddContent(
                Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", review.Id)
                ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", review.Id))
                            ).AddCss("pointer table-content-vertical-align-middle selectable").AddAttribute("data-object-id", review.Id).AddCss("treegrid-" + review.Id).AddCss(review.ParentId > 0 ? "treegrid-parent-" + review.ParentId : "").AddCss("tr-last-child-text-center")

    if (childReviews.All(c => c.ParentId != review.Id))
    {
        return;
    }

    var childs = childReviews.Where(c => c.ParentId == review.Id).OrderByDescending(c => c.CreationDate).ToList();

    foreach (var childReview in childs)
    {
        @MakeRow(table, childReview, childReviews)
    }
}

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddCss("tree-grid").AddAttribute("Id", "reviews-table").Begin())
{
    @table.TableHeaderRow("Статус", "Ответ компании", "Продукт", "Место", "Оценка", "Заголовок", "").SetAlignment(TextAlignment.Center)

    foreach (var review in parentReviews)
    {
        @MakeRow(table, review, childReviews);
    }

}