﻿@using System.Globalization
@using FluentBootstrap
@model Domain.Dto.LocaleStringDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление новой строки" : "Редактирование строки";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var values;

    $(document)
        .ready(function() {
            values = [
                @for (var i = 0; i < Model.Values.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Locale:'{2}', Value:'{3}', LocaleStringId:'{4}' }},", Model.Values.ElementAt(i).Id, i, Model.Values.ElementAt(i).Locale, Model.Values.ElementAt(i).Value, Model.Values.ElementAt(i).LocaleStringId).Replace(@"\", "/"))
                }
        ];

        rivets.formatters.inside = function(value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, { values: values });
    });


    function AddToBindingObject(id, bindingLst, getAction, loaderBlock) {
        var promise = new $.Deferred();

        showModalLoader(loaderBlock);
        $.post(getAction, { objectIds: { 0: id } })
            .done(function(res) {
                if (res.length > 0 && !bindingLst.find(function(item) { return item.Id == res[0].Id; })) {
                    var el = res[0];
                    el['Index'] = bindingLst.length;
                    bindingLst.push(el);
                }
                promise.resolve();
                hideModalLoader(loaderBlock);
            });

        return promise;
    }

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function(el, ind) {
            el.Index = ind;
        });

        return id;
    }

</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("Add", "LocaleStrings").Begin())
{
    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m => m.Name)
    @form.EditorFor(m => m.Code)

    <div class="form-group">
        <label class="control-label">Тип</label>
        <div class="input-group">
            <input name="TypeId" type="hidden" value="@Model.TypeId">
            <input name="TypeName" type="text" class="form-control" value="@Model.TypeName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('LocaleStringTypes').done(function (id) { $('input[name=TypeId]').val(id); if (lastSelectItem) { $('input[name=TypeName]').val(lastSelectItem.Name); };})">...</button>
            </span>
        </div>
    </div>
    
    <br/>
    <hr/>
    <div class="form-group prices-block">
        <h3><label class="control-label">Значения</label>
        </h3>
        <div id="prices-input-block" class="input-group">
            <input rv-each-value="values" rv-name="value.Index | inside 'values[' '].Id'" type="Hidden" class="form-control" rv-value="value.Id">
            <input rv-each-value="values" rv-name="value.Index | inside 'values[' '].Locale'" type="Hidden" class="form-control" rv-value="value.Locale">
            <input rv-each-value="values" rv-name="value.Index | inside 'values[' '].Value'" type="Hidden" class="form-control" rv-value="value.Value">
            <input rv-each-value="values" rv-name="value.Index | inside 'values[' '].LocaleStringId'" type="Hidden" class="form-control" rv-value="value.LocaleStringId">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="control-label">Локаль</label>
                    <select id="value-locale" class="form-control">
                        @foreach (var locale in CultureInfo.GetCultures(CultureTypes.AllCultures))
                        {
                            <option value="@locale.Name">@locale.DisplayName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label class="control-label">Значение</label>
                    <input class="form-control" id="value-val" type="text"/>
                </div>
            </div>
            <button class="btn btn-success" type="button" onclick="if(!$('#value-val').val()) return; values.push({ Id: 0, Locale: $('#value-locale').val(), Value: $('#value-val').val(), Index: values.length, LocaleStringId: 0 }); $('#value-val').val(''); ">Добавить</button>
            <br/>
            <h3 rv-each-value="values"><span class="label label-default"> {value.Locale} : {value.Value} <i class="glyphicon glyphicon-remove pointer" rv-onclick="value.Index | inside 'DeleteFromBindingObject(' ', values)'"></i></span></h3>
        </div>
    </div>
    <hr/>
    <br/>

    @form.Submit("Сохранить")
}

