﻿@using Domain.Dto
@using FluentBootstrap
@model CategoryDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление новой категории" : "Редактирование категории";
    Layout = "~/Views/AdminLayout.cshtml";

    if (Model != null && ViewData["Categories"] is IEnumerable<CategoryDto>)
    {
        ViewData["Categories"] = new SelectList((new List<CategoryDto> {new CategoryDto {Id = 0, Name = ""}}).Union(ViewData["Categories"] as IEnumerable<CategoryDto>), "Id", "Name", Model.ParentId);
    }
}

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(Model).Form().SetAction("Add", "Categories").Begin())
{
    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m=>m.Id)
    @form.HiddenFor(m=>m.SortOrder)
    
    @form.EditorFor(m => m.Name)
    <div class="form-group">
        <label class="control-label">Символьный код</label>
        <div class="input-group">
            <input name="Code" type="text" class="form-control" value="@Model.Code">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$.get('@(Url.Action("Transliterate","Utils"))', {text: $('input[name=Name]').val()}).done(function(res){$('input[name=Code]').val(res)});">
                    <i class="glyphicon glyphicon-text-width"></i>
                </button>
            </span>
        </div>
    </div>

    using (form.FormGroup().Begin())
    {
        <label class="control-label">Изображение</label>
        <div class="row bottom-buffer">
            <div class="col-sm-12">
                <input type="hidden" name="ImageId" class="form-control" value="@Model.ImageId">
                <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=ImageId]').val(id); if (lastSelectItem) { $('#image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                <button class="btn btn-warning" type="button" onclick="$('input[name=ImageId]').val('0'); $('#image').attr('src', '');">Очистить</button>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12">
                <img class="img-thumbnail" id="image" src="@(( string.IsNullOrEmpty(Model.ImagePath) || Model.ImagePath.Contains("http") ? "" : "") + Model.ImagePath)" alt=""/>
            </div>
        </div>
    }

    @form.SelectFor(m=>m.ParentId,ViewData["Categories"] as SelectList)

    @form.Submit("Сохранить")
}
