﻿@using Domain.Dto
@using FluentBootstrap
@using FluentBootstrap.Mvc
@using FluentBootstrap.Tables
@model List<CategoryDto>

<script>
        var selectData = {
            @foreach (var category in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", category.Id, category.Code, category.Name))
            }

        };
</script>

@{
    var childCats = Model.Where(c => c.ParentId > 0).ToList();
    var parentCats = Model.Where(c => c.ParentId == null).ToList().OrderBy(c=>c.SortOrder).ToList();
    
}
@helper  MakeRow(ComponentWrapper<MvcBootstrapConfig<List<CategoryDto>>, Table> table, CategoryDto category, List<CategoryDto> childCategories)
{
    @table.TableDataRow(category.Name, Html.Bootstrap().Link(category.SortOrder.ToString()
        ).AddAttributes(new Dictionary<string, object>
        {
            {"data-name", "sort-order"}, {"data-original-title", "Изменить сортировку"},
            {"data-inputclass", "span1"}, {"data-mode", "inline"},
            {"data-pk", category.Id}
        }
                ).AddCss("editable"),
        Html.Bootstrap().CenterBlock().AddContent(
            Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", category.Id)
            ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", category.Id)
            ).AddContent(Html.Bootstrap().CheckBox().AddCss("multiple-selector").AddStyle("display", "none").AddAttribute("data-object-id", category.Id))
        ).AddCss("pointer selectable").AddAttribute("data-object-id", category.Id).AddCss("treegrid-" + category.Id).AddCss(category.ParentId > 0 ? "treegrid-parent-" + category.ParentId : "").AddCss("tr-last-child-text-center")

    if (childCategories.All(c => c.ParentId != category.Id))
    {
        return;
    }

    var childs = childCategories.Where(c => c.ParentId == category.Id).OrderBy(c => c.SortOrder).ToList();

    foreach (var childCategory in childs)
    {
        @MakeRow(table, childCategory, childCategories)
    }
}

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddCss("tree-grid").AddAttribute("Id", "categories-table").Begin())
{
    @table.TableHeaderRow("Название", "Сортировка", "").SetAlignment(TextAlignment.Center)

    foreach (var category in parentCats)
    {
        @MakeRow(table, category, childCats);
    }

}