﻿@using FluentBootstrap
@model List<Domain.Dto.CategoryDto>
@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {

        $(document).on('click', '.object-row', function() {
            EditObjectView("@Url.Action("Edit", "Categories")", $(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove", function () {
            DeleteObject("@Url.Action("Delete", "Categories")", "@Url.Action("IndexData", "Categories")", $(this).attr("data-object-id"), "#categories-table")
                .fail(function() {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: 'Ошибка',
                        message: 'Не возможно удалить объект, проверьте связи этого объекта'
                    });

                    $(".tree-grid").treegrid();
                    $(".editable").editable({ url: setSortOrder });

                })
                .done(function() {
                    $(".tree-grid").treegrid();
                    $(".editable").editable({ url: setSortOrder });
                });

            $(".tree-grid").treegrid();
            $(".editable").editable({ url: setSortOrder });
        });

        $(".tree-grid").treegrid();
        $(".editable").editable({ url: setSortOrder });
    });

    function setSortOrder(params) {
        var d = new $.Deferred();

        showModalLoader('#categories-table');

        $.post('@Url.Action("SetOrder","Categories")', { pk: params.pk, value: params.value }).done(function(result) {
            $('#categories-table').replaceWith(result);

            $(".tree-grid").treegrid();
            $(".editable").editable({ url: setSortOrder });

            hideModalLoader('#categories-table');
        }).fail(function() {});

        return d.promise();
    }
</script>

<h2>@ViewBag.Title</h2>
@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Categories")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Categories/IndexData.cshtml", Model)


