﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.IObjectFieldType

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового типа" : "Редактирование типа";
    Layout = "~/Views/AdminLayout.cshtml";
    string controller = ViewBag.Controller;
}

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("AddFieldType", controller).Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    
    @form.EditorFor(m=>m.Name)
    @form.EditorFor(m => m.SortOrder)
    @form.SelectFor(m => m.CultureSpecTypeName, new SelectList(DescribedEnum<FieldType>.DescriptionsList(), Model.CultureSpecTypeName))
    @form.EditorFor(m=>m.IsRequired)
    
    @form.Submit("Сохранить")
}
