﻿@using FluentBootstrap
@model object

@{
    ViewBag.Title = "Типы полей";
    Layout = "~/Views/AdminLayout.cshtml";
    string Controller = ViewBag.Controller;
}

<h2>@ViewBag.Title</h2>

<script>
    $(document).ready(function() {
        $(".object-row").click(function () {
            EditObjectView("@Url.Action("EditFieldType", ViewBag.Controller)",$(this).attr("data-object-id"));
        });

        $(".object-row-remove").click(function () {
            DeleteObject("@Url.Action("DeleteFieldType", ViewBag.Controller)","@Url.Action("FieldTypesData", ViewBag.Controller)", $(this).attr("data-object-id"),"#fields-types-table");
        });

        $(".editable").editable();
    });
</script>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("AddFieldType", Controller)).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Base/FieldTypesData.cshtml", Model)
