﻿@using FluentBootstrap
@model ICollection<Domain.BannerType>
           
<script>
    var selectData = {
        @foreach (var bannerType in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", bannerType.Id, bannerType.Code, bannerType.Name))
        }
    };
</script>

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "banner_types-table").Begin())
{
    @table.TableHeaderRow("Название", "Код", "").SetAlignment(TextAlignment.Center)

    foreach (var bannerType in Model)
    {
        @table.TableDataRow(
               bannerType.Name,
               bannerType.Code,
               Html.Bootstrap().CenterBlock().AddContent(
                          Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", bannerType.Id)
                            ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", bannerType.Id))
           ).AddCss("pointer  selectable").AddAttribute("data-object-id", bannerType.Id)
    }

}