﻿@using FluentBootstrap
@model ICollection<Domain.ShopOrderState>
           
<script>
    var selectData = {
        @foreach (var type in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", type.Id, type.Code, type.Name))
        }
    };
</script>

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Center).AddAttribute("Id", "shop-order-states-table").Begin())
{
    @table.TableHeaderRow("Название", "Код", "По умолчанию", "").SetAlignment(TextAlignment.Center)

    foreach (var type in Model)
    {
        @table.TableDataRow(
            type.Name,
            type.Code,
            Html.Bootstrap().CheckBox(null, null, null, type.IsDefault).IsDisabled(),
            Html.Bootstrap().CenterBlock().AddContent(
                Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", type.Id)
                ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", type.Id))
                 ).AddCss("pointer table-content-vertical-align-middle selectable").AddAttribute("data-object-id", type.Id)
    }

}

