﻿@using FluentBootstrap
@model ICollection<Domain.ShopOrderState>

@{
    ViewBag.Title = "Статусы заказов";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(".object-row").click(function () {
            EditObjectView("@Url.Action("Edit", "ShopOrderStates")",$(this).attr("data-object-id"));
        });

        $(".object-row-remove").click(function() {
            DeleteObject("@Url.Action("Delete", "ShopOrderStates")", "@Url.Action("IndexData", "ShopOrderStates")", $(this).attr("data-object-id"), "#shop-order-states-table")
                .fail(function() {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: 'Ошибка',
                        message: 'Не возможно удалить объект, проверьте связи объекта'
                    });
                })
                .done(function() { $(".editable").editable({ url: setSortOrder }); });

            return false;
        });

        $(".editable").editable({ url: setSortOrder });
    });

</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "ShopOrderStates")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/ShopOrderStates/IndexData.cshtml", Model)
