﻿@using FluentBootstrap
@model List<Domain.Dto.ImageDto>

@{
    ViewBag.Title = "Изображения";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var selectTypePromise;
    var typeId;
    $(function () {
        $('.fileupload-add').fileupload({
            dataType: 'json',
            add: function (e, data) {
                (function (data) {
                    if (selectTypePromise === undefined) {
                        showModalLoader('@ViewBag.UpdatableBlock');
                        selectTypePromise = SelectModal("ImageTypes", "Укажите тип добавляемых изображений");
                    };
                    selectTypePromise
                        .done(function(id) {
                            data.formData = { TypeId: id };
                        })
                        .always(function() {
                            selectTypePromise = undefined;
                            data.submit();
                        });
                })(data);
            },
            done: LoadData
        });

        var editImgCount = 0;
        $('.fileupload-edit').fileupload({
            dataType: 'json',
            add: function(e, data) {
                showModalLoader('@ViewBag.UpdatableBlock');
                if ($(".image-checkbox:checked").length == 0)
                    hideModalLoader('@ViewBag.UpdatableBlock');
                else {
                    if ($(".image-checkbox:checked").length > editImgCount){
                        data.formData = { objectId: $($(".image-checkbox:checked")[editImgCount]).attr('data-object-id') };
                        data.submit();
                    }
                    editImgCount++;
                }
            },
            done: function() {
                LoadData();
                editImgCount = 0;
            }
        });

        var counter = 0;
        var listLength = 0;
        var errorOccured = false;

        $('.delete').click(function() {
            BootstrapDialog.confirm({
                type: BootstrapDialog.TYPE_WARNING,
                title: 'Внимание',
                message: 'Продолжить удаление объекта?',
                btnOKLabel: 'Продолжить',
                btnCancelLabel: 'Отмена',
                callback: function(result) {
                    if (result) {
                        var list = $(".image-checkbox:checked");
                        if (list.length > 0) {
                            showModalLoader('.gallery-container');
                            listLength = list.length;
                            for (var i = 0; i < listLength; i++) {
                                deleteObject($(list[i]).attr('data-object-id'));
                            }
                        }
                    }
                }
            });
        });

        function deleteObject(objectId) {
            $.post('@Url.Action("Delete","Images")', { objectId: objectId })
                .done(function () {
                    counter++;
                })
                .fail(function () {
                    errorOccured = true;
                    counter++;
                })
                .always(function () {
                    if (counter === listLength) {
                        counter = listLength = 0;
                        if (errorOccured) {
                            errorOccured = false;
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_DANGER,
                                title: 'Ошибка',
                                message: 'Не возможно удалить некоторые объекты, проверьте связи этих объектов'
                            });
                        }
                        LoadData();
                    };
                });
        };

        $('.box-image').colorbox();
    });
</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Добавить</span>
        <input class="fileupload-add" type="file" name="files[]" data-url="@Url.Action("Add", "Images")" multiple>
    </span>
    <span class="btn btn-warning fileinput-button">
        <i class="glyphicon glyphicon-pencil"></i>
        <span>Заменить выбранную</span>
        <input class="fileupload-edit" type="file" name="files[]" data-url="@Url.Action("Edit", "Images")" multiple>
    </span>
    <span class="btn btn-danger delete">
        <i class="glyphicon glyphicon-remove"></i>
        <span>Удалить выбранные</span>
    </span>
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Images/IndexData.cshtml", Model)