﻿@using Domain
@using Domain.Dto
@using FluentBootstrap
@model List<ImageDto>
<div class="gallery-container">
    <script>
    var selectData = {
        @foreach (var image in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Path:'{2}' }},", image.Id, image.Code, image.Path).Replace(@"\", "/"))
            }

    };

    function LoadData(e, data) {
        showModalLoader('.gallery-container');
        if (!data || data.loaded == data.total) {
            $.post('@ViewBag.UpdateAction', { TypeId: $("select[name='type-select'] option:selected").val() }).done(function (result) {
                $('@ViewBag.UpdatableBlock').replaceWith(result);
                    $('.box-image').colorbox();
                    hideModalLoader('@ViewBag.UpdatableBlock');
                });
            }
        }
    </script>

    <div class="row bottom-buffer col-xs-12">
        <div class="row">
            <span class="col-xs-3">Фильтр по типу</span>
        </div>
        <div class="row">
            @using (var select = Html.Bootstrap().Select().AddAttribute("name","type-select").AddCss("col-xs-3").AddAttribute("onchange", "return LoadData()").Begin())
            {
                using (select.SelectOption("Все", "0").Begin())
                {
                }
                if (ViewData["ImageTypes"] is IEnumerable<ImageType>)
                {
                    ulong currentTypeId = ViewBag.CurrentTypeId ?? 0UL;
                    foreach (var el in ViewData["ImageTypes"] as IEnumerable<ImageType>)
                    {
                        using (select.SelectOption(el.Name, el.Id.ToString(), el.Id == currentTypeId).Begin())
                        {
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="row col-xs-12">
        <hr/>  
    </div>
    
    @Html.Partial("~/Views/Admin/PageSizeSelector.cshtml")

    @using (var row = Html.Bootstrap().GridRow().AddCss("gallery col-xs-12").Begin())
    {
        foreach (var image in Model)
        {
            using (var el = row.GridColumn().SetMd(3).SetSm(4).SetXs(6).AddCss("thumb").Begin())
            {
                <input class="image-checkbox multiple-selector" data-object-id="@image.Id" type="checkbox" />
                <a class="box-image selectable" data-object-id="@image.Id" href="@image.Path">
                    <img class="img-responsive" src="@((image.Path.Contains("http") || string.IsNullOrEmpty(image.Path) ? "" : "") + image.Path)" alt="@image.Description" />
                </a>
            }
        }
    }
    
    @Html.Partial("~/Views/Admin/Pagination.cshtml")
</div>