﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.Dto.ProductDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового продукта" : "Редактирование продукта";
    Layout = "~/Views/AdminLayout.cshtml";
}
<script>
    tinymce.init({
        selector: '.html-editable',
        plugins: "textcolor colorpicker table code",
        toolbar: "forecolor backcolor table code"
    });
</script>
<script>
    $(document).ready(function() {
        $('.date').datepicker({ language: 'ru', autoclose: true, clearBtn: true });
    })
</script>

<script>
    var imagesArr;
    var categoriesArr;
    var pricesArr;
    var labelsArr;
    var featuredArr;
    var categoryOrdersArr;
    var placesArr;

    $(document).ready(function() {
        imagesArr = [
            @if (Model != null && Model.Images!= null)
            {
                for (var i = 0; i < Model.Images.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Path:'{2}' }},", Model.Images.ElementAt(i).Id, i, Model.Images.ElementAt(i).Path).Replace(@"\", "/"))
                }
            }
        ];

        categoriesArr = [
            @if (Model != null && Model.Categories != null)
            {
                for (var i = 0; i < Model.Categories.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}' }},", Model.Categories.ElementAt(i).Id, i, Model.Categories.ElementAt(i).Name))
                }
            }
        ];

        categoryOrdersArr = [
            @if (Model != null && Model.CategoryOrders != null)
            {
                for (var i = 0; i < Model.CategoryOrders.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, ProductId:'{2}', CategoryId:'{3}', CategoryName:'{4}', SortOrder:'{5}' }},", Model.CategoryOrders.ElementAt(i).Id, i, Model.CategoryOrders.ElementAt(i).ProductId, Model.CategoryOrders.ElementAt(i).CategoryId, Model.CategoryOrders.ElementAt(i).CategoryName, Model.CategoryOrders.ElementAt(i).SortOrder))
                }
            }
        ];

        pricesArr = [
            @if (Model != null && Model.Prices != null)
            {
                for (var i = 0; i < Model.Prices.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Value:'{2}', Value2: '{3}', Description:'{4}', ProductId:'{5}' }},", Model.Prices.ElementAt(i).Id, i, Model.Prices.ElementAt(i).Value.ToString("F"), Model.Prices.ElementAt(i).Value2.ToString("F"), Model.Prices.ElementAt(i).Description, Model.Prices.ElementAt(i).ProductId))
                }
            }
        ];

        placesArr = [
            @if (Model != null && Model.Places != null)
            {
                for (var i = 0; i < Model.Places.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}' }},", Model.Places.ElementAt(i).Key, i, Model.Places.ElementAt(i).Value))
                }
            }
        ];

        labelsArr = [
            @if (Model != null && Model.Labels != null)
            {
                for (var i = 0; i < Model.Labels.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}'}},", Model.Labels.ElementAt(i).Id, i, Model.Labels.ElementAt(i).Name))
                }
            }
        ];

        featuredArr = [
            @if (Model != null && Model.Featured != null)
            {
                for (var i = 0; i < Model.Featured.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Name:'{2}'}},", Model.Featured.ElementAt(i).Key, i, Model.Featured.ElementAt(i).Value))
                }
            }
        ];

        rivets.formatters.insidePrice = function(priceObj, start, end) {
            return start + 
                (priceObj.Value == '0,00' || priceObj.Value == '0' ? '' : priceObj.Value + ' ') + 
                (priceObj.Value2 == '0,00' || priceObj.Value2 == '0'  ? '' : priceObj.Value2 + ' ') 
                + end;
        }

        rivets.formatters.inside = function(value, start, end) {
            return start + value + end;
        }

        rivets.formatters.insideImage = function(value, start, end) {
            return (value.indexOf('http') !== -1 ? '' : start) + value + end;
        }

        rivets.bind(document, {
            imagesArr: imagesArr,
            categoriesArr: categoriesArr,
            categoryOrdersArr: categoryOrdersArr,
            pricesArr: pricesArr,
            labelsArr: labelsArr,
            featuredArr: featuredArr,
            placesArr: placesArr
        });
    });

    function AddCategoryOrderForLastCategory() {
        var el = categoriesArr[categoriesArr.length-1];
        $.post('@Url.Action("GetNextCategorySortOrder","Products")', { categoryId: el.Id, productId: @Model.Id })
            .done(function (sortOrder) {
                if(el.Id == 0 || !categoryOrdersArr.find(function (cat){return cat.CategoryId == el.Id;}))
                    categoryOrdersArr.push({
                        Id: 0,
                        Index: categoryOrdersArr.length,
                        CategoryId: el.Id,
                        ProductId: @Model.Id,
                        CategoryName: el.Name,
                        SortOrder:sortOrder });

            });
    }

    function AddToBindingObject(id, bindingLst, getAction, loaderBlock) {
        var promise = new $.Deferred();

        showModalLoader(loaderBlock);
        $.post(getAction, { objectIds: { 0: id } }).done(function (res) {
            if (res.length > 0 && !bindingLst.find(function (item){return item.Id == res[0].Id;})) {
                var el = res[0];
                el['Index'] = bindingLst.length;
                bindingLst.push(el);
            }
            promise.resolve();
            hideModalLoader(loaderBlock);
        });

        return promise;
    }

    function DeleteFromCategoryOrder(categoryId) {
        categoryOrdersArr.splice(categoryOrdersArr.find(function(el) {return categoryId == el.CategoryId;}).Index, 1);

        categoryOrdersArr.forEach(function (el, ind) {
            el.Index = ind;
        });
    }

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function (el, ind) {
            el.Index = ind;
        });

        return id;
    }

</script>

<script>
    $(document).ready(function() {
        ShowActionButton(function() {$('#product-form').submit(); }, 'Сохранить', 'save');
    })
</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetId("product-form").SetAction("Add", "Products").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)
    @form.EditorFor(m => m.Name)
    <div class="form-group">
        <label class="control-label">Символьный код</label>
        <div class="input-group">
            <input name="Code" type="text" class="form-control" value="@Model.Code">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="$.get('@(Url.Action("Transliterate","Utils"))', {text: $('input[name=Name]').val()}).done(function(res){$('input[name=Code]').val(res)});">
                    <i class="glyphicon glyphicon-text-width"></i>
                </button>
            </span>
        </div>
    </div>
    @form.EditorFor(m => m.ShortDescription)
    @form.EditorFor(m => m.LongDescription)

    <div class="form-group">
        <label class="control-label">Тип</label>
        <div class="input-group">
            <input name="TypeId" type="hidden" value="@Model.TypeId">
            <input name="TypeName" type="text" class="form-control" value="@Model.TypeName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('ProductTypes').done(function (id) { $('input[name=TypeId]').val(id); if (lastSelectItem) { $('input[name=TypeName]').val(lastSelectItem.Name); };})">...</button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Дата активности</label>
        <div class="input-group date">
            <input type="text" name="EndActivityDate" class="form-control" value="@Model.EndActivityDate" readonly="readonly">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    @form.SelectFor(m => m.Status, new SelectList(DescribedEnum<ProductState>.DescriptionsList(), Model.Status))

    <div class="form-group fields-block">
        <h3><label class="control-label">Настраиваемые поля</label></h3>

        @for (var i = 0; i < Model.Fields.Count; i++)
        {
            <div id="fields-input-block" class="input-group col-xs-12">
                <label class="control-label">@Model.Fields.ElementAt(i).FieldTypeDescription</label>
                <input type="hidden" name="fields[@i].Id" value="@Model.Fields.ElementAt(i).Id" />
                <input type="hidden" name="fields[@i].Code" value="@Model.Fields.ElementAt(i).Code" />
                <input type="hidden" name="fields[@i].SortOrder" value="@Model.Fields.ElementAt(i).SortOrder" />
                <input type="hidden" name="fields[@i].FieldTypeId" value="@Model.Fields.ElementAt(i).FieldTypeId" />
                @switch (Model.Fields.ElementAt(i).FieldTypeName)
                {
                    case FieldType.Html:
                        <textarea class="html-editable" name="Fields[@i].Value">@Model.Fields.ElementAt(i).Value</textarea>
                        break;
                    default:
                        <input class="form-control" name="Fields[@i].Value" value="@Model.Fields.ElementAt(i).Value" />
                        break;
                }
            </div>
        }
    </div>
    <br />
    <hr />
    <div class="form-group prices-block">
        <h3><label class="control-label">Цены</label></h3>
        <div id="prices-input-block" class="input-group">
            <input rv-each-price="pricesArr" rv-name="price.Index | inside 'Prices[' '].Id'" type="Hidden" class="form-control" rv-value="price.Id">
            <input rv-each-price="pricesArr" rv-name="price.Index | inside 'Prices[' '].Value'" type="Hidden" class="form-control" rv-value="price.Value">
            <input rv-each-price="pricesArr" rv-name="price.Index | inside 'Prices[' '].Value2'" type="Hidden" class="form-control" rv-value="price.Value2">
            <input rv-each-price="pricesArr" rv-name="price.Index | inside 'Prices[' '].Description'" type="Hidden" class="form-control" rv-value="price.Description">
            <input rv-each-price="pricesArr" rv-name="price.Index | inside 'Prices[' '].ProductId'" type="Hidden" class="form-control" rv-value="price.ProductId">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label class="control-label">Описание</label>
                    <input class="form-control" id="price-desc" type="text" />
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">Сумма</label>
                    <input class="form-control" id="price-val" type="number" step="any" />
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">Сумма2</label>
                    <input class="form-control" id="price-val2" type="number" step="any" />
                </div>
            </div>
            <button class="btn btn-success" type="button" onclick="if (!$('#price-val').val()) return; pricesArr.push({ Id: 0, Description: $('#price-desc').val(), Value: $('#price-val').val(), Value2: $('#price-val2').val(), Index: pricesArr.length, ProductId: 0 }); $('#price-desc').val('');$('#price-val').val('');$('#price-val2').val(''); ">Добавить</button>
            <br />
            <h3 rv-each-price="pricesArr"><span class="label label-default"> {price.Description} : {price | insidePrice '' '' } <i class="glyphicon glyphicon-remove pointer" rv-onclick="price.Index | inside 'DeleteFromBindingObject(' ', pricesArr)'"></i></span></h3>
        </div>
    </div>
    <hr />
    <br />

    <hr />
    <div class="form-group images-block">
        <h3><label class="control-label">Изображения</label></h3>
        <div id="images-input-block" class="input-group">
            <input rv-each-image="imagesArr" rv-name="image.Index | inside 'Images[' '].Id'" type="Hidden" class="form-control image-key" rv-value="image.Id">
            <input rv-each-image="imagesArr" rv-name="image.Index | inside 'Images[' '].Path'" type="Hidden" class="form-control" rv-value="image.Path">

            <button class="btn btn-success" type="button" onclick="SelectModal('Images', '', true).done(function(ids) { ids.forEach(function(id) { AddToBindingObject(id, imagesArr, '@Url.Action("Get", "Images")', '.images-block'); }); }) ">Выбрать</button>

            @using (var row = Html.Bootstrap().GridRow().AddCss("gallery").Begin())
            {
                using (row.GridColumn().SetMd(3).SetSm(4).SetXs(6).AddAttribute("rv-each-image", "imagesArr").AddCss("thumb").Begin())
                {
                    <i class="glyphicon glyphicon-remove pointer" rv-onclick="image.Index | inside 'DeleteFromBindingObject(' ', imagesArr)'"></i>
                    <img class="img-responsive" rv-src="image.Path | insideImage '' ''" alt="" />
                }
            }
        </div>
    </div>
    <hr />
    <br />

    <hr />
    <div class="form-group categories-block">
        <h3><label class="control-label">Категории</label></h3>
        <div id="categories-input-block" class="input-group">
            <input rv-each-category="categoriesArr" rv-name="category.Index | inside 'Categories[' '].Id'" type="Hidden" class="form-control" rv-value="category.Id">
            <input rv-each-category="categoriesArr" rv-name="category.Index | inside 'Categories[' '].Name'" type="Hidden" class="form-control" rv-value="category.Name">

            <button class="btn btn-success" type="button" onclick="SelectModal('Categories', '', true).done(function(ids) { ids.forEach(function(id) { AddToBindingObject(id, categoriesArr, '@Url.Action("Get", "Categories")', '.categories-block').done(function() { AddCategoryOrderForLastCategory(); }); }); }) ">Выбрать</button>
            <br />
            <h3 rv-each-category="categoriesArr">
                <span class="label label-default"> {category.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="category.Index | inside 'DeleteFromCategoryOrder(DeleteFromBindingObject(' ', categoriesArr));'"></i></span>
            </h3>
        </div>
        <h3><label class="control-label">Порядок сортировки в категориях</label></h3>
        <div id="categories-order-input-block" class="input-group">
            <div rv-each-order="categoryOrdersArr">
                <input rv-name="order.Index | inside 'CategoryOrders[' '].Id'" type="Hidden" class="form-control" rv-value="order.Id">
                <input rv-name="order.Index | inside 'CategoryOrders[' '].CategoryId'" type="Hidden" class="form-control" rv-value="order.CategoryId">
                <input rv-name="order.Index | inside 'CategoryOrders[' '].ProductId'" type="Hidden" class="form-control" rv-value="order.ProductId">
                <span class="label label-default">{order.CategoryName}</span>
                <input rv-name="order.Index | inside 'CategoryOrders[' '].SortOrder'" type="number" class="form-control" rv-value="order.SortOrder">
            </div>
        </div>
    </div>
    <hr />
    <br />

    <hr />
    <div class="form-group labels-block">
        <h3><label class="control-label">Лейблы</label></h3>
        <div id="labels-input-block" class="input-group">
            <input rv-each-label="labelsArr" rv-name="label.Index | inside 'Labels[' '].Id'" type="Hidden" class="form-control" rv-value="label.Id">
            <input rv-each-label="labelsArr" rv-name="label.Index | inside 'Labels[' '].Name'" type="Hidden" class="form-control" rv-value="label.Name">

            <button class="btn btn-success" type="button" onclick="SelectModal('Banners', '', true).done(function(ids) { ids.forEach(function(id) { AddToBindingObject(id, labelsArr, '@Url.Action("Get", "Banners")', '.labels-block'); }); }) ">Выбрать</button>
            <br />
            <h3 rv-each-label="labelsArr"><span class="label label-default"> {label.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="label.Index | inside 'DeleteFromBindingObject(' ', labelsArr)'"></i></span></h3>
        </div>
    </div>
    <hr />
    <br />

    <hr />
    <div class="form-group places-block">
        <h3>
            <label class="control-label">Филиалы</label>
        </h3>
        <div id="places-input-block" class="input-group">
            <input rv-each-place="placesArr" rv-name="place.Index | inside 'Places[' '].Key'" type="Hidden" class="form-control" rv-value="place.Id">
            <input rv-each-place="placesArr" rv-name="place.Index | inside 'Places[' '].Value'" type="Hidden" class="form-control" rv-value="place.Name">

            <button class="btn btn-success" type="button" onclick="SelectModal('Places', '', true).done(function(ids) { ids.forEach(function(id) { AddToBindingObject(id, placesArr, '@Url.Action("Get", "Places")', '.places-block'); }); }) ">Выбрать</button>

            <br />
            <h3 rv-each-place="placesArr"><span class="label label-default"> {place.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="place.Index | inside 'DeleteFromBindingObject(' ', placesArr)'"></i></span></h3>

        </div>
    </div>
    <hr />
    <br />

    <hr />
    <div class="form-group featured-block">
        <h3>
            <label class="control-label">Рекомендуемые</label>
        </h3>
        <div id="featured-input-block" class="input-group">
            <input rv-each-product="featuredArr" rv-name="product.Index | inside 'Featured[' '].Key'" type="Hidden" class="form-control" rv-value="product.Id">
            <input rv-each-product="featuredArr" rv-name="product.Index | inside 'Featured[' '].Value'" type="Hidden" class="form-control" rv-value="product.Name">

            <button class="btn btn-success" type="button" onclick="SelectModal('Products', '', true).done(function(ids) { ids.forEach(function(id) { AddToBindingObject(id, featuredArr, '@Url.Action("Get", "Products")', '.featured-block'); }); }) ">Выбрать</button>

            <br />
            <h3 rv-each-product="featuredArr"><span class="label label-default"> {product.Name} <i class="glyphicon glyphicon-remove pointer" rv-onclick="product.Index | inside 'DeleteFromBindingObject(' ', featuredArr)'"></i></span></h3>

        </div>
    </div>
    <hr />
    <br />

    @form.Submit("Сохранить")
}
