﻿@using FluentBootstrap
@model ICollection<Domain.Dto.ProductDto>

@{
    ViewBag.Title = "Продукты";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(document).on('click', ".object-row", function () {
            EditObjectView("@Url.Action("Edit", "Products")",$(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove", function () {
            DeleteObject("@Url.Action("Delete", "Products")", "@ViewBag.UpdateAction", $(this).attr("data-object-id"), "@ViewBag.UpdatableBlock")
                .fail(function() {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: 'Ошибка',
                        message: 'Не возможно удалить объект, проверьте связи этого объекта'
                    });
                })
                .done(function() { $(".editable").editable({ url: setSortOrder }); });

            return false;
        });

        $(".editable").editable({ url: setSortOrder });
    });

    function setSortOrder(params) {
        var d = new $.Deferred();

        showModalLoader('@ViewBag.UpdatableBlock');

        $.post('@Url.Action("SetOrder","Products")', { pk: params.pk, value: params.value }).done(function (result) {
            $('@ViewBag.UpdatableBlock').replaceWith(result);

            $(".editable").editable({ url: setSortOrder });

            hideModalLoader('@ViewBag.UpdatableBlock');
        }).fail(function () { });

        return d.promise();
    }
</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Products")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Products/IndexData.cshtml", Model)
