﻿@using System.Globalization
@using Castle.Core.Internal
@using FluentBootstrap
@model ICollection<Domain.Dto.ProductDto>
<div id="products-table-block">
    <script>
        var selectData = {
            @foreach (var product in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}', Prices: [", product.Id, product.Code, product.Name)
                          +
                          (product.Prices.IsNullOrEmpty() ? "" : product.Prices.Select(p=>string.Format("{{Id:'{0}', Description:'{1}', Value:'{2}'}}",p.Id, p.Description, p.Value2 > 0 ? p.Value2.ToString("F",CultureInfo.InvariantCulture) : p.Value.ToString("F", CultureInfo.InvariantCulture))).Aggregate((a,b)=>a + "," +b))
                          +
                          "]},")
            }
    
        };
    </script>

    @helper MakeBlock(List<string> data)
    {
        var block = Html.Bootstrap().CenterBlock().AddCss("span-object-name-container");

        foreach (var el in data)
        {
            block.AddContent(Html.Bootstrap().Label(el));
        }
        @block
    }

    <div class="row">
        <div class="form-group col-xs-12">
            <div class="row col-xs-12">
                <label class="control-label">Фильтр по имени</label>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" id="name-filter" class="form-control" value="@ViewBag.NameFilter">
                </div>
                <input type="button" class="btn btn-success" onclick="ApplyFilter({NameFilter:$('#name-filter').val()},'@ViewBag.UpdateAction', '@ViewBag.UpdatableBlock')" value="Применить" />
            </div>
        </div>
    </div>

    <hr />

    @Html.Partial("~/Views/Admin/PageSizeSelector.cshtml")

    @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "products-table").AddCss("table-fixedlayout last-td-fixed").Begin())
    {
        @table.TableHeaderRow("Изображение", "Название", "Категории", "Цены", "Статус", "").SetAlignment(TextAlignment.Center)

        foreach (var product in Model)
        {
            var image = product.Images.FirstOrDefault();
            @table.TableDataRow(
                 image == null ? null : Html.Bootstrap().Image((string.IsNullOrEmpty(image.Path) || image.Path.Contains("http") ? "" : "") + image.Path).AddCss("table-preview-image"),
                product.Name,
                @MakeBlock(product.Categories.Select(c => c.Name).ToList()),
                     @MakeBlock(product.Prices.Select(p => p.Description + ": " + (p.Value2 > 0 ? p.Value2.ToString("F") : p.Value.ToString("F"))).ToList()),
                product.Status,
                Html.Bootstrap().CenterBlock().AddContent(
                    Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", product.Id)
                    ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", product.Id)
                    ).AddContent(Html.Bootstrap().CheckBox().AddCss("multiple-selector").AddStyle("display","none").AddAttribute("data-object-id", product.Id))
                ).AddCss("pointer selectable").AddAttribute("data-object-id", product.Id)
        }

    }

    @Html.Partial("~/Views/Admin/Pagination.cshtml")
</div>