﻿@using System.Web.UI.WebControls
@using NHibernate.Util
@model MenuItemCollection

@helper MakeMenu(MenuItem element, int index)
{
    if (element.ChildItems.Any())
    {
        <li>
            <a class="pointer" data-toggle="collapse" data-target="#@element.Text.GetHashCode()-@index">@element.Text</a>
            <div style="padding-left: 20px;">
                <ul id="@element.Text.GetHashCode()-@index" class='nav nav-pills nav-stacked collapse @if (element.Selected)
                                                                                                      {@Html.Raw("in")}'>
                    @foreach (MenuItem child in element.ChildItems)
                    {
                        @MakeMenu(child, index + 1)
                    }
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class='@if (element.Selected)
                      {@Html.Raw("active")}'>
            <a href="@element.NavigateUrl">@element.Text</a>
        </li>
    }
}


<ul class="nav nav-sidebar">
        @foreach (MenuItem menuItem in Model)
        {
            @MakeMenu(menuItem,1)
        }
</ul>