﻿@using FluentBootstrap
@{
    string updateAction = ViewBag.UpdateAction;
    string updatableBlock = ViewBag.UpdatableBlock;

    int pageSize = ViewBag.PageSize;
}
<div class="row bottom-buffer col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <span class="col-sm-3 col-md-3 col-lg-3">Элементов на странице:</span>
    </div>
    <div class="row">
        @using (var select = Html.Bootstrap().Select().AddCss("col-sm-2 col-md-2 col-lg-2").AddAttribute("onchange", string.Format("return ApplyPageSize(this.options[this.selectedIndex].value,'{0}','{1}')", updateAction, updatableBlock)).Begin())
        {
            using (select.SelectOption("Все", "0", pageSize == 0).Begin())
            {
            }
            using (select.SelectOption("10", "10", pageSize == 10).Begin())
            {
            }
            using (select.SelectOption("20", "20", pageSize == 20).Begin())
            {
            }
            using (select.SelectOption("50", "50", pageSize == 50).Begin())
            {
            }
        }
    </div>
</div>

