﻿@if (ViewBag.PageNumber >= 0 && ViewBag.MaxPage > 0)
{
    <div class="text-center">
        <ul class="pagination">
            @{
                var i = 0;
                while (i < ViewBag.MaxPage)
                {
                    <li class="@if (i == ViewBag.PageNumber)
                               {
                                   @Html.Raw("active")
                               }"><a href="#" onclick="return ApplyPage('@i', '@ViewBag.PageSize', '@ViewBag.UpdateAction', '@ViewBag.UpdatableBlock')">@(i + 1)</a></li>
                    i++;
                }
            }
        </ul>
    </div>
}

