﻿@using FluentBootstrap
@model Domain.Dto.ShopOrderDto

@{
    ViewBag.Title = "";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var linesArr;
    var fieldsArr;
    var Prices;
    $(document)
        .ready(function () {
            Prices = [];
            linesArr = [
                @if (Model != null && Model.Lines != null)
                {
                    for (var i = 0; i < Model.Lines.Count; i++)
                    {
                        @Html.Raw(string.Format("{{Id:{0}, ProductId:{1}, ProductName:'{2}', ProductAmount:'{3}', ProductPriceId:'{4}', ProductPriceDescription:'{5}', ProductPriceValue:'{6}', Index:'{7}' }},",
                            Model.Lines.ElementAt(i).Id, Model.Lines.ElementAt(i).ProductId, Model.Lines.ElementAt(i).ProductName, Model.Lines.ElementAt(i).ProductAmount,
                            Model.Lines.ElementAt(i).ProductPriceId, Model.Lines.ElementAt(i).ProductPriceDescription, Model.Lines.ElementAt(i).ProductPriceValue, i).Replace(@"\", "/"))
                    }
                }
            ];
            fieldsArr = [
                @if (Model != null && Model.Fields != null)
                {
                    for (var i = 0; i < Model.Fields.Count; i++)
                    {
                        @Html.Raw(string.Format("{{Id:{0}, SortOrder:{1}, Code:'{2}', FieldTypeId:'{3}', IsRequired:'{4}', FieldTypeDescription:'{5}', Value:'{6}', Index:'{7}' }},",
                            Model.Fields.ElementAt(i).Id, Model.Fields.ElementAt(i).SortOrder, Model.Fields.ElementAt(i).Code, Model.Fields.ElementAt(i).FieldTypeId,
                            Model.Fields.ElementAt(i).IsRequired, Model.Fields.ElementAt(i).FieldTypeDescription, Model.Fields.ElementAt(i).Value, i).Replace(@"\", "/"))
                    }
                }

            ];

            rivets.formatters.inside = function (value, start, end) {
                return start + value + end;
            }
            rivets.formatters.multiply = function(value1, value2) {
                return value1 * value2;
            }

            rivets.bind(document, {
                linesArr: linesArr,
                fieldsArr: fieldsArr,
                Prices: Prices
            });
        });

    function DeleteFromBindingObject(index, bindingLst) {

        bindingLst.splice(index, 1);

        bindingLst.forEach(function (el, ind) {
            el.Index = ind;
        });
    }
        </script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("Add", "ShopOrders").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }
    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    if (Model.Id > 0)
    {
        @form.DisplayFor(m => m.CreationDate)
    }
    <div class="form-group">
        <h3><label class="control-label">Клиент</label>
        </h3>
        <label class="control-label">Имя</label>
        <div class="input-group">
            <input name="CustomerId" type="hidden" value="@Model.CustomerId">
            <input name="CustomerName" type="text" class="form-control customer-field" value="@Model.CustomerName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('Customers').done(function(id) { $('input[name=CustomerId]').val(id);$('.customer-field').attr('readonly', 'readonly');if (lastSelectItem) { $('input[name=CustomerName]').val(lastSelectItem.Name);$('input[name=CustomerMail]').val(lastSelectItem.Email); }; })">...</button>
                <button class="btn btn-default" type="button" onclick="$('input[name=CustomerId]').val('0');$('.customer-field').removeAttr('readonly');">X</button>
            </span>
        </div>
        <br/>
        <label class="control-label">Электронная почта</label>
        <input name="CustomerMail" type="text" class="form-control customer-field" value="@Model.CustomerMail" readonly="readonly">
    </div>
    <br/>
    <hr/>

    <div class="form-group">
        <h3><label class="control-label">Поля</label></h3>
        <input rv-each-field="fieldsArr" rv-name="field.Index | inside 'Fields[' '].Id'" type="Hidden" class="form-control" rv-value="field.Id">
        <input rv-each-field="fieldsArr" rv-name="field.Index | inside 'Fields[' '].SortOrder'" type="Hidden" class="form-control" rv-value="field.SortOrder">
        <input rv-each-field="fieldsArr" rv-name="field.Index | inside 'Fields[' '].Code'" type="Hidden" class="form-control" rv-value="field.Code">
        <input rv-each-field="fieldsArr" rv-name="field.Index | inside 'Fields[' '].FieldTypeId'" type="Hidden" class="form-control" rv-value="field.FieldTypeId">
        <div rv-each-field="fieldsArr">
            <label class="control-label">{field.FieldTypeDescription}</label>
            <input rv-name="field.Index | inside 'Fields[' '].Value'" type="text" class="form-control" rv-value="field.Value" />
        </div>
    </div>
    <br />
    <hr />

    <div class="form-group">
        <h3><label class="control-label">Доставка</label>
        </h3>
        @form.EditorFor(m => m.CustomerAddress)
        @form.EditorFor(m => m.IsPickup)
        @form.EditorFor(m => m.DeliveryTime)
    </div>
    <br/>
    <hr/>
    if (Model.Id > 0)
    {
        <div class="form-group">
            <h3><label class="control-label">Продукты</label>
            </h3>
            @using (var lineTable = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Center).Begin())
            {
                @lineTable.TableHeaderRow("Товар", "Характеристика", "Цена", "Кол-во", "Описание скидки", "Скидка", "Сумма").SetAlignment(TextAlignment.Center)

                foreach (var line in Model.Lines)
                {
                    @lineTable.TableDataRow(
                        line.ProductName,
                        line.ProductPriceDescription,
                        line.ProductPriceValue.ToString("F"),
                        line.ProductAmount.ToString("F0"),
                        line.DiscountDescription,
                        line.DiscountValue.ToString("F"),
                        line.LineSum.ToString("F"))
                }
            }
        </div>
        <div class="form-group">
            <label class="control-label">Примененный купон</label>
            @Html.Bootstrap().Link(Model.CouponCode, "Edit", "Coupons", new RouteValueDictionary(new Dictionary<string, object> {{"objectId", Model.CouponId}}))
        </div>
        <br/>
        <hr/>


        <div class="form-group">
            <h3><label class="control-label">Списание бонусов</label>
            </h3>
            @form.DisplayFor(m => m.WriteOffBonusSum)
            @form.DisplayFor(m => m.BonusProgramName)
        </div>
        <br/>
        <hr/>
    }
    else
    {
        using (form.FormGroup().Begin())
        {
            <h3>
                <label class="control-label">Продукты</label>
            </h3>
            <div id="prices-input-block" class="input-group col-xs-12">
                <input rv-each-line="linesArr" rv-name="line.Index | inside 'Lines[' '].Id'" type="Hidden" class="form-control" rv-value="line.Id">
                <input rv-each-line="linesArr" rv-name="line.Index | inside 'Lines[' '].ProductId'" type="Hidden" class="form-control" rv-value="line.ProductId">
                <input rv-each-line="linesArr" rv-name="line.Index | inside 'Lines[' '].ProductAmount'" type="Hidden" class="form-control" rv-value="line.ProductAmount">
                <input rv-each-line="linesArr" rv-name="line.Index | inside 'Lines[' '].ProductPriceId'" type="Hidden" class="form-control" rv-value="line.ProductPriceId">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label class="control-label">Продукт</label>
                        <div class="input-group">
                            <input id="product-id" type="hidden" class="form-control" value="">
                            <input id="product-name" type="text" class="form-control" value="" readonly="readonly">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="SelectModal('Products').done(function (id) { $('#product-id').val(id); if (lastSelectItem) { $('#product-name').val(lastSelectItem.Name); Prices.splice(0, Prices.length); lastSelectItem.Prices.forEach(function (item) { Prices.push(item);}); }; })">...</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-4">
                        <label class="control-label">Цена</label>
                        <select id="price-select" class="form-control">
                            <option rv-each-price="Prices" rv-value="price.Value" rv-data-object-id="price.Id" rv-data-object-desc="price.Description">{price.Description} : {price.Value}</option>
                        </select>
                    </div>

                    <div class="form-group col-xs-2">
                        <label class="control-label">количество</label>
                        <input id="product-amount" type="number" step="any" value="" class="form-control" />
                    </div>
                </div>
            </div>
                <button class="btn btn-success" type="button" onclick="if (!$('#product-id').val() || !$('#product-amount').val()) return; linesArr.push({ Id: 0, ProductId: $('#product-id').val(), ProductName: $('#product-name').val(), ProductAmount: $('#product-amount').val(), ProductPriceId: $('#price-select').find('option:selected').attr('data-object-id'), ProductPriceDescription: $('#price-select').find('option:selected').attr('data-object-desc'), ProductPriceValue: $('#price-select').find('option:selected').val(), Index: linesArr.length }); $('#product-id').val(''); $('#product-name').val(''); $('#price-name').val(''); $('#price-id').val(''); $('#product-amount').val(''); Prices.splice(0, Prices.length);">Добавить</button>
                <br />
                <h3 rv-each-line="linesArr"><span class="label label-default"> {line.ProductName} : {line.ProductPriceValue} х {line.ProductAmount} = {line.ProductPriceValue | multiply line.ProductAmount} <i class="glyphicon glyphicon-remove pointer" rv-onclick="product.Index | inside 'DeleteFromBindingObject(' ', linesArr)'"></i></span></h3>
        }
        <br />
        <hr />
    }

    @form.Submit("Сохранить")
}
