﻿@using FluentBootstrap
@model ICollection<Domain.Dto.ShopOrderDto>

<div id="shop-orders-table-block">
    
    <label class="control-label">Фильтр по дате</label>
    <div class="row">
        <script>
            $(document).ready(function() {
                $('.date').datepicker({ language: 'ru', autoclose: true, clearBtn: true });
            })
        </script>
        <div class="form-group col-xs-2">
            <div class="input-group date">
                <input type="text" id="start-date-filter" class="form-control" value="@(ViewBag.StartDateFilter == null ? "" : ViewBag.StartDateFilter.ToString("dd.MM.yyyy"))" readonly="readonly">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-2">
            <div class="input-group date">
                <input type="text" id="end-date-filter" class="form-control" value="@(ViewBag.EndDateFilter == null ? "" : ViewBag.EndDateFilter.ToString("dd.MM.yyyy"))" readonly="readonly">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <input type="button" class="btn btn-success" value="Применить" onclick="ApplyFilter({ 'StartDateFilter': $('#start-date-filter').val(), 'EndDateFilter':$('#end-date-filter').val() }, '@ViewBag.UpdateAction', '@ViewBag.UpdatableBlock')" />
    </div>

    <hr/>

    @Html.Partial("~/Views/Admin/PageSizeSelector.cshtml")

    @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddCss("table-head-italic").AddAttribute("Id", "shop-order-table").Begin())
    {
        @table.TableHeaderRow("Дата", "Статус", "Покупатель", "Телефон", "Почта", "Сумма заказа", "Самовывоз", "Предпочтительное время получения","Адрес", "").SetAlignment(TextAlignment.Center)

        foreach (var order in Model)
        {
            @table.TableDataRow(
            order.CreationDate,
            order.StatusName,
            order.CustomerName,
            order.CustomerPhone,
             order.CustomerMail,
            order.OrderSum.ToString("F"),
                 Html.Bootstrap().CheckBox(null, null, null, order.IsPickup).IsDisabled().AddStyle("text-align", "center"),
            order.DeliveryTime,
            order.CustomerAddress,
            Html.Bootstrap().CenterBlock().AddContent(
                Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", order.Id)
                ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", order.Id))
                 ).AddCss("pointer table-content-vertical-align-middle selectable").AddAttribute("data-object-id", order.Id)

            if (order.Lines != null && order.Lines.Any())
            {
                using (var row = table.TableRow().AddStyle("background-color", "aliceblue").Begin())
                {
                    using (row.TableData().ColSpan(10).Begin())
                    {
                        using (var lineTable = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Center).Begin())
                        {
                            @lineTable.TableHeaderRow("Товар", "Характеристика", "Цена", "Кол-во", "Скидка", "Сумма").SetAlignment(TextAlignment.Center)

                            foreach (var line in order.Lines)
                            {
                                @lineTable.TableDataRow(
                                line.ProductName,
                                line.ProductPriceDescription,
                                line.ProductPriceValue.ToString("F"),
                                line.ProductAmount.ToString("F0"),
                                line.DiscountValue.ToString("F"),
                                line.LineSum.ToString("F"))
                            }
                        }
                    }
                }
            }
        }

    }

    @Html.Partial("~/Views/Admin/Pagination.cshtml")
</div>