﻿@using Domain.Enums
@using FluentBootstrap
@model Domain.Dto.CustomerDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового клиента" : "Редактирование клиента";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>

    var addressArr;

    $(document).ready(function() {
        addressArr = [
            @if (Model != null && Model.Addresses != null)
            {
                for (var i = 0; i < Model.Addresses.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Description:'{2}', City:'{3}', Street:'{4}', House:'{5}', FrontDoor:'{6}' }},", Model.Addresses.ElementAt(i).Id, i, Model.Addresses.ElementAt(i).Description, Model.Addresses.ElementAt(i).City, Model.Addresses.ElementAt(i).Street, Model.Addresses.ElementAt(i).House, Model.Addresses.ElementAt(i).FrontDoor).Replace(@"\", "/"))
                }
            }
        ];

        rivets.formatters.inside = function (value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, {
            addressArr: addressArr
        });
    });

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function(el, ind) {
            el.Index = ind;
        });

        return id;
    }

    function ChangePwd()
    {
        $.post('@Url.Action("ChangePwd", "Customers")', { customerId: $('input[name=Id]').val(), password: $('input[name=password]').val() })
            .done(function () {
            $('input[name=password]').val('');
                BootstrapDialog.show(
                    { type: BootstrapDialog.TYPE_SUCCESS, title: 'Успех', message: 'Пароль изменен' });
            });
    }
</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("AddWPwd", "Customers").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m => m.Email)
    if (Model.Id == 0)
    {
        @form.Input("password", "Пароль", null, null, FormInputType.Password)
    }
    else
    {
        <div class="form-group">
            <label class="control-label">Пароль</label>
            <div class="input-group">
                <input id="password-input" name="password" type="password" class="form-control" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="ChangePwd()">Сменить</button>
                </span>
            </div>
        </div>
    }
    
    using (form.FormGroup().Begin())
    {
        <label class="control-label">Изображение</label>
        <div class="row bottom-buffer">
            <div class="col-sm-12">
                <input type="hidden" name="AvatarImageId" class="form-control" value="@Model.AvatarImageId">
                <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=AvatarImageId]').val(id); if (lastSelectItem) { $('#image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                <button class="btn btn-warning" type="button" onclick="$('input[name=AvatarImageId]').val('0'); $('#image').attr('src', '');">Очистить</button>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12">
                <img class="img-thumbnail" id="image" src="@((Model.AvatarImagePath.Contains("http") || string.IsNullOrEmpty(Model.AvatarImagePath) ? "" : "") + Model.AvatarImagePath)" alt=""/>
            </div>
        </div>
    }
    
    @form.EditorFor(m=>m.Name)
    @form.EditorFor(m => m.Phone)
    @form.SelectFor(m => m.Status, new SelectList(DescribedEnum<CustomerState>.DescriptionsList(), Model.Status))

    <br />
    <hr />
    <div class="form-group address-block">
        <h3><label class="control-label">Адреса</label></h3>
        <div id="prices-input-block" class="input-group">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].Id'" type="Hidden" class="form-control" rv-value="address.Id">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].Description'" type="Hidden" class="form-control" rv-value="address.Description">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].City'" type="Hidden" class="form-control" rv-value="address.City">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].Street'" type="Hidden" class="form-control" rv-value="address.Street">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].House'" type="Hidden" class="form-control" rv-value="address.House">
            <input rv-each-address="addressArr" rv-name="address.Index | inside 'addresses[' '].FrontDoor'" type="Hidden" class="form-control" rv-value="address.FrontDoor">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label class="control-label">Описание</label>
                    <input class="form-control" id="address-desc" type="text"/>
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Город</label>
                    <input class="form-control" id="address-city" type="text" />
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Улица</label>
                    <input class="form-control" id="address-street" type="text" />
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Дом</label>
                    <input class="form-control" id="address-house" type="text" />
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Подъезд</label>
                    <input class="form-control" id="address-frontdoor" type="text" />
                </div>
            </div>
            <button class="btn btn-success" type="button" onclick=" if (!$('#address-desc').val()) return; addressArr.push({ Id: 0, Description: $('#address-desc').val(), City: $('#address-city').val(), Street: $('#address-street').val(), House: $('#address-house').val(), FrontDoor: $('#address-frontdoor').val(), Index: addressArr.length }); $('#address-desc').val(''); $('#address-city').val(''); $('#address-street').val(''); $('#address-house').val(''); $('#address-frontdoor').val('');">Добавить</button>
            <br/>
            <h3 rv-each-address="addressArr"><span class="label label-default"> {address.Description} : {address.City},{address.Street},{address.House},{address.FrontDoor} <i class="glyphicon glyphicon-remove pointer" rv-onclick="address.Index | inside 'DeleteFromBindingObject(' ', addressArr)'"></i></span></h3>
        </div>
    </div>
    <hr />
    <br />
    
@form.Submit("Сохранить")
}
