﻿@using FluentBootstrap
@model ICollection<Domain.Dto.CustomerDto>

@{
    ViewBag.Title = "Клиенты";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
      $(document).ready(function() {
        $(document).on('click', ".object-row", function () {
            EditObjectView("@Url.Action("Edit", "Customers")",$(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove", function () {
            DeleteObject("@Url.Action("Delete", "Customers")", "@ViewBag.UpdateAction", $(this).attr("data-object-id"), "@ViewBag.UpdatableBlock")
                .fail(function() {
                    BootstrapDialog.show({
                        type: BootstrapDialog.TYPE_DANGER,
                        title: 'Ошибка',
                        message: 'Не возможно удалить объект, проверьте связи этого объекта'
                    });
                });

            return false;
        });
    });
</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Customers")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/Customers/IndexData.cshtml", Model)


