﻿@using FluentBootstrap
@model ICollection<Domain.Dto.CustomerDto>

<div id="customers-table-block">
    <script>
        var selectData = {
            @foreach (var customer in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}', Email:'{3}' }},", customer.Id, customer.Code, customer.Name, customer.Email))
            }

        };
    </script>

    @helper MakeBlock(List<string> data)
{
    var block = Html.Bootstrap().CenterBlock();

    foreach (var el in data)
    {
        block.AddContent(Html.Bootstrap().Label(el));
    }
    @block
}

    @Html.Partial("~/Views/Admin/PageSizeSelector.cshtml")

    @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "customers-table").AddCss("table-fixedlayout last-td-fixed").Begin())
    {
        @table.TableHeaderRow("ФИО", "Электронная почта", "телефон", "Статус", "").SetAlignment(TextAlignment.Center)

        foreach (var customer in Model)
        {
            @table.TableDataRow(
                customer.Name,
                customer.Email,
                customer.Phone,
                customer.Status,
                Html.Bootstrap().CenterBlock().AddContent(
                         Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", customer.Id)
                         ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", customer.Id))
                     ).AddCss("pointer selectable").AddAttribute("data-object-id", customer.Id)
        }

    }

    @Html.Partial("~/Views/Admin/Pagination.cshtml")
</div>

