﻿@{
    ViewBag.Title = "Иморт товаров и категорий из YML";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(xml|yml)$/i,
            add: function(e, data) {
                data.context = $('#files').html($('<button class="btn btn-primary"/>').text('Начать импорт ' + data.files[0].name)
                    .click(function() {
                        data.context = $('<p/>').text('Импортируем...').replaceAll($(this));
                        data.submit();
                    }));
            },
            done: function(e, data) {
                data.context.text('Импорт завершен.');
            },
            fail: function(e, data) {
                data.context.text('Произошла ошибка импорта!');
            }
    });
    });
</script>

<h2>@ViewBag.Title</h2>

<span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Выбрать файл...</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files[]" data-url="@Url.Action("StartImportYml", "Settings")">
</span>
<div id="files" style="margin-top:20px"></div>
