﻿@using FluentBootstrap
@model Domain.Dto.SettingsDto

@{
    ViewBag.Title = "Настройки";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var catColorsArr;
    $(document).ready(function() {
        catColorsArr = [
            @if (Model != null && Model.CategoriesColors != null)
            {
                for (var i = 0; i < Model.CategoriesColors.Count; i++)
                {
                    @Html.Raw(string.Format("{{Id:{0}, Index:{1}, CategoryId:'{2}', CategoryName:'{3}', HeaderFooterColor:'{4}', BackGroundColor:'{5}', BgFontColor:'{6}', HfFontColor:'{7}' }},", Model.CategoriesColors.ElementAt(i).Id, i, Model.CategoriesColors.ElementAt(i).CategoryId, Model.CategoriesColors.ElementAt(i).CategoryName, Model.CategoriesColors.ElementAt(i).HeaderFooterColor, Model.CategoriesColors.ElementAt(i).BackGroundColor, Model.CategoriesColors.ElementAt(i).BgFontColor, Model.CategoriesColors.ElementAt(i).HfFontColor).Replace(@"\", "/"))
                }
            }
        ];
        rivets.formatters.inside = function(value, start, end) {
            return start + value + end;
        }

        rivets.bind(document, {
            catColorsArr: catColorsArr
        });

        $('.colorpick').colorpicker({component:'.colorpick-component'});
    });

    function DeleteFromBindingObject(index, bindingLst) {

        var id = bindingLst[index].Id;

        bindingLst.splice(index, 1);

        bindingLst.forEach(function (el, ind) {
            el.Index = ind;
        });

        return id;
    }
</script>

    <h2>@ViewBag.Title</h2>

    @using (var form = Html.Bootstrap(Model).Form().SetAction("Save", "Settings").Begin())
    {
        @form.HiddenFor(m => m.Id)

        <div class="form-group">
            <h3>Поведение</h3>
            @form.EditorFor(m=>m.NoOrderMode)
            @form.EditorFor(m => m.OnePageCatalog)
            @form.EditorFor(m => m.SideMainMenu)
            @form.EditorFor(m => m.NoComments)
            @form.EditorFor(m=>m.AuthRequired)
            @form.EditorFor(m=>m.OnlyCity)
            @form.EditorFor(m=>m.ShowFilialInfoInProduct)
            <div class="form-group">
                <label class="control-label">Тип</label>
                <div class="input-group">
                    <input name="StartPageBannerCode" type="text" class="form-control" value="@Model.StartPageBannerCode" readonly="readonly">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="SelectModal('BannerTypes').done(function (id) { $('input[name=StartPageBannerCode]').val(id); if (lastSelectItem) { $('input[name=StartPageBannerCode]').val(lastSelectItem.Code); }; })">...</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <h3>
                <label class="control-label">Общие</label>
            </h3>
            @form.EditorFor(m => m.ShopName)

            @using (form.FormGroup().Begin())
            {
                <label class="control-label">Логотип магазина</label>
                <div class="row bottom-buffer">
                    <div class="col-sm-12">
                        <input type="hidden" name="LogoImageId" class="form-control" value="@Model.LogoImageId">
                        <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=LogoImageId]').val(id); if (lastSelectItem) { $('#logo-image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                        <button class="btn btn-warning" type="button" onclick="$('input[name=LogoImageId]').val('0'); $('#logo-image').attr('src', '');">Очистить</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img-thumbnail" id="logo-image" src="@((Model.LogoImagePath.Contains("http") || string.IsNullOrEmpty(Model.LogoImagePath) ? "" : "") + Model.LogoImagePath)" alt="" />
                    </div>
                </div>
            }
            <hr />

            <div class="form-group">
                <label class="control-label">Логотип по умолчанию для отзывов</label>
                <div class="row bottom-buffer">
                    <div class="col-sm-12">
                        <input type="hidden" name="ReviewDefaultImageId" class="form-control" value="@Model.ReviewDefaultImageId">
                        <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=ReviewDefaultImageId]').val(id); if (lastSelectItem) { $('#review-image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                        <button class="btn btn-warning" type="button" onclick="$('input[name=ReviewDefaultImageId]').val('0'); $('#review-image').attr('src', '');">Очистить</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img-thumbnail" id="review-image" src="@((Model.ReviewDefaultImagePath.Contains("http") || string.IsNullOrEmpty(Model.ReviewDefaultImagePath) ? "" : Url.Content("~/")) + Model.ReviewDefaultImagePath)" alt=""/>
                    </div>
                </div>
                <br/>
                @form.EditorFor(m=>m.UseGravatar)
            </div>

            @form.EditorFor(m => m.FromEmail)

            @form.EditorFor(m => m.ShopOrderEmail)
            <br />
            <hr />
            @form.EditorFor(m => m.FreeDeliveryPercentNotify)
        </div>

        using (form.FormGroup().Begin())
        {
            <h3><label class="control-label">Общая цветовая схема</label></h3>

            using (form.FormGroup("Цвет фона").Begin())
            {
                <div class="input-group colorpick">
                    <input type="text" name="BackGroundColor" value="@Model.BackGroundColor" class="form-control" readonly="readonly"/>
                    <span class="input-group-addon colorpick-component"><i>...</i></span>
                    <span class="input-group-addon pointer" onclick="$('input[name=BackGroundColor]').val(''); ">X</span>
                </div>
            }
            using (form.FormGroup("Цвет хэдер/футер").Begin())
            {
                <div class="input-group colorpick">
                    <input type="text" name="HeaderFooterColor" value="@Model.HeaderFooterColor" class="form-control" readonly="readonly" />
                    <span class="input-group-addon colorpick-component"><i>...</i></span>
                    <span class="input-group-addon pointer" onclick="$('input[name=HeaderFooterColor]').val(''); ">X</span>
                </div>
            }
            using (form.FormGroup("Цвет шрифта фона").Begin())
            {
                <div class="input-group colorpick">
                    <input type="text" name="BgFontColor" value="@Model.BgFontColor" class="form-control" readonly="readonly" />
                    <span class="input-group-addon colorpick-component"><i>...</i></span>
                    <span class="input-group-addon pointer" onclick="$('input[name=BgFontColor]').val(''); ">X</span>
                </div>
            }
            using (form.FormGroup("Цвет шрифта хэдер/футер").Begin())
            {
                <div class="input-group colorpick">
                    <input type="text" name="HfFontColor" value="@Model.HfFontColor" class="form-control" readonly="readonly" />
                    <span class="input-group-addon colorpick-component"><i>...</i></span>
                    <span class="input-group-addon pointer" onclick="$('input[name=HfFontColor]').val(''); ">X</span>
                </div>
            }
        }

        <br />
        <hr />
        using (form.FormGroup().Begin())
        {
        <h3>
            <label class="control-label">Цветовая схема категорий</label>
        </h3>
        <div id="prices-input-block" class="input-group">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].Id'" type="Hidden" class="form-control" rv-value="color.Id">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].CategoryId'" type="Hidden" class="form-control" rv-value="color.CategoryId">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].HeaderFooterColor'" type="Hidden" class="form-control" rv-value="color.HeaderFooterColor">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].BackGroundColor'" type="Hidden" class="form-control" rv-value="color.BackGroundColor">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].BgFontColor'" type="Hidden" class="form-control" rv-value="color.BgFontColor">
            <input rv-each-color="catColorsArr" rv-name="color.Index | inside 'CategoriesColors[' '].HfFontColor'" type="Hidden" class="form-control" rv-value="color.HfFontColor">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label class="control-label">Категория</label>
                    <div class="input-group">
                        <input id="category-id" type="hidden" class="form-control" value="">
                        <input id="category-name" type="text" class="form-control" value="" readonly="readonly">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="SelectModal('Categories').done(function(id) { $('#category-id').val(id); if (lastSelectItem) { $('#category-name').val(lastSelectItem.Name); }; })">...</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Цвет фона</label>
                    <div class="input-group colorpick">
                        <input id="background-color" type="text" value="" class="form-control" readonly="readonly" />
                        <span class="input-group-addon colorpick-component"><i>...</i></span>
                    </div>
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Цвет хэдер\футер</label>
                    <div class="input-group colorpick">
                        <input id="header-footer-color" type="text" value="" class="form-control" readonly="readonly" />
                        <span class="input-group-addon colorpick-component"><i>...</i></span>
                    </div>
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Цвет шрифта фона</label>
                    <div class="input-group colorpick">
                        <input id="bg-font-color" type="text" value="" class="form-control" readonly="readonly" />
                        <span class="input-group-addon colorpick-component"><i>...</i></span>
                    </div>
                </div>
                <div class="form-group col-xs-2">
                    <label class="control-label">Цвет шрифта хэдер\футер</label>
                    <div class="input-group colorpick">
                        <input id="hf-font-color" type="text" value="" class="form-control" readonly="readonly" />
                        <span class="input-group-addon colorpick-component"><i>...</i></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="button" onclick="if (!$('#category-id').val() || catColorsArr.find(function (item) { return item.CategoryId === $('#category-id').val(); })) return; catColorsArr.push({ Id: 0, CategoryId: $('#category-id').val(), CategoryName: $('#category-name').val(), HeaderFooterColor: $('#header-footer-color').val(), BackGroundColor: $('#background-color').val(), BgFontColor: $('#bg-font-color').val(), HfFontColor: $('#hf-font-color').val(), Index: catColorsArr.length }); $('#category-name').val(''); $('#category-id').val(''); $('#header-footer-color').val(''); $('#background-color').val(''); $('#font-color').val('');">Добавить</button>
            <br />
            <h3 rv-each-color="catColorsArr"><span class="label label-default"> {color.CategoryName} : <span rv-style="color.BackGroundColor | inside 'background-color:' ';'">фон</span> , <span rv-style="color.HeaderFooterColor | inside 'background-color:'  ';'">футер\хэдер</span> <span rv-style="color.BgFontColor | inside 'background-color:'  ';'">шрифт фона</span> <span rv-style="color.HfFontColor | inside 'background-color:'  ';'">шрифт хэдер\футер</span><i class="glyphicon glyphicon-remove pointer" rv-onclick="color.Index | inside 'DeleteFromBindingObject(' ', catColorsArr)'"></i></span></h3>
        </div>
        }
        <hr />
        <br />

        @form.Submit("Сохранить")
        }


