﻿@using FluentBootstrap
@model Domain.Dto.BannerDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового баннера" : "Редактирование баннера";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    var images;

    $(document).ready(function() {
       images = [
            @for (var i = 0; i < Model.Images.Count; i++)
            {
                @Html.Raw(string.Format("{{Id:{0}, Index:{1}, Path:'{2}' }},", Model.Images.ElementAt(i).Key, i, Model.Images.ElementAt(i).Value).Replace(@"\","/"))
            }
        ];

        rivets.formatters.inside = function(value, start, end) {
            return start + value + end;
        }

        rivets.formatters.insideImage = function (value, start, end) {
            return (value.indexOf('http') !== -1 ? '' : start) + value + end;
        }

        rivets.bind(document, { images: images });
    });


    function AddImage(id) {
        showModalLoader('.images-block');
        $.post('@Url.Action("Get","Images")', { objectIds: { 0: id } }).done(function (res) {
            if (res.length > 0) {
                var el = res[0];
                images.push({ Id: el.Id, Index: images.length, Path: el.Path });
            }
            hideModalLoader('.images-block');
        });
    }

    function DeleteImage(index) {
        images.splice(index, 1);
        images.forEach(function(el, ind) {
            el.Index = ind;
        });
    }

</script>

<h2>@ViewBag.Title</h2>

@using (var form = Html.Bootstrap(@Model).Form().SetAction("Add", "Banners").Begin())
{
    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }

    @form.HiddenFor(m => m.Id)
    @form.HiddenFor(m => m.SortOrder)

    @form.EditorFor(m => m.Name)
   
    <div class="form-group">
        <label class="control-label">Тип</label>
        <div class="input-group">
            <input name="TypeId" type="hidden" value="@Model.TypeId">
            <input name="TypeName" type="text" class="form-control" value="@Model.TypeName" readonly="readonly">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="SelectModal('BannerTypes').done(function (id) { $('input[name=TypeId]').val(id); if (lastSelectItem) { $('input[name=TypeName]').val(lastSelectItem.Name); };})">...</button>
            </span>
        </div>
    </div>
    
    <br />
    <hr />
    <div class="form-group images-block">
        <label class="control-label">Изображения</label>
        <div id="images-input-block" class="input-group">
            <input rv-each-image="images" rv-name="image.Index | inside 'Images[' '].Key'" type="Hidden" class="form-control image-key" rv-value="image.Id">
            <input rv-each-image="images" rv-name="image.Index | inside 'Images[' '].Value'" type="Hidden" class="form-control" rv-value="image.Path">

            <button class="btn btn-success" type="button" onclick="SelectModal('Images', '', true).done(function(ids) { ids.forEach(function (id) { AddImage(id); }); })">Выбрать</button>

            @using (var row = Html.Bootstrap().GridRow().AddCss("gallery").Begin())
            {
                using (row.GridColumn().SetMd(3).SetSm(4).SetXs(6).AddAttribute("rv-each-image", "images").AddCss("thumb").Begin())
                {
                    <i class="glyphicon glyphicon-remove pointer" rv-onclick="image.Index | inside 'DeleteImage(' ')'"></i>
                    <img class="img-responsive" rv-src="image.Path | insideImage '' ''" alt=""/>
                }
            }
        </div>
    </div>
    <hr />
    <br />
    @form.Submit("Сохранить")
}

