﻿@using FluentBootstrap
@model ICollection<Domain.ImageType>

@{
    ViewBag.Title = "Типы изображений";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(".object-row").click(function () {
            EditObjectView("@Url.Action("Edit", "ImageTypes")",$(this).attr("data-object-id"));
        });

        $(".object-row-remove").click(function() {
            DeleteObject("@Url.Action("Delete", "ImageTypes")", "@Url.Action("IndexData", "ImageTypes")", $(this).attr("data-object-id"), "#image_types-table").fail(function() {
                BootstrapDialog.show({
                    type: BootstrapDialog.TYPE_DANGER,
                    title: 'Ошибка',
                    message: 'Не возможно удалить объект, проверьте связи этого объекта'
                });
            });
            return false;
        });

        $(".editable").editable();
    });
</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "ImageTypes")
        ).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))
    }
}
<hr />
<br />

@Html.Partial("~/Views/Admin/ImageTypes/IndexData.cshtml", Model)


