﻿@using FluentBootstrap
@model ICollection<Domain.ImageType>

<script>
    var selectData = {
        @foreach (var imageType in Model)
        {
            @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", imageType.Id, imageType.Code, imageType.Name))
        }
    };
</script>

@using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Left).AddAttribute("Id", "image_types-table").Begin())
{
    @table.TableHeaderRow("Название", "Код", "").SetAlignment(TextAlignment.Center)

    foreach (var imageType in Model)
    {
        @table.TableDataRow(
                    imageType.Name,
                    imageType.Code,
               Html.Bootstrap().CenterBlock().AddContent(
                               Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", imageType.Id)
                                 ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", imageType.Id))
                ).AddCss("pointer  selectable").AddAttribute("data-object-id", imageType.Id)
    }

}