﻿@using FluentBootstrap
@model Domain.Dto.PlaceDto

@{
    ViewBag.Title = Model == null || Model.Id == 0 ? "Добавление нового филиала" : "Редактирование филиала";
    Layout = "~/Views/AdminLayout.cshtml";
}
<script>
    $(document).ready(function() {
        ShowActionButton(function() {$('#place-form').submit(); }, 'Сохранить', 'save');
    })
</script>
<h2>@ViewBag.Title</h2>
@using (var form = Html.Bootstrap(@Model).Form().SetId("place-form").SetAction("Add","Places").Begin())
{

    using (var vGroup = form.FormGroup().Begin())
    {
        @vGroup.ValidationSummary()
    }
    
    @form.HiddenFor(m=>m.Id)
    @form.HiddenFor(m=>m.SortOrder)
    
    @form.EditorFor(m=>m.Name)
    @form.EditorFor(m => m.City)
    @form.EditorFor(m => m.Street)
    @form.EditorFor(m => m.House)
    @form.EditorFor(m => m.Phone)
    @form.EditorFor(m => m.Email)
    @form.EditorFor(m => m.Coordinates)

    using (form.FormGroup().Begin())
    {
        <label class="control-label">Изображение в шапке</label>
        <div class="row bottom-buffer">
            <div class="col-sm-12">
                <input type="hidden" name="HeaderLogoId" class="form-control" value="@Model.HeaderLogoId">
                <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=HeaderLogoId]').val(id); if (lastSelectItem) { $('#logo-image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                <button class="btn btn-warning" type="button" onclick="$('input[name=HeaderLogoId]').val('0'); $('#logo-image').attr('src','');">Очистить</button>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12">
                <img class="img-thumbnail" id="logo-image" src="@((string.IsNullOrEmpty(Model.HeaderLogoPath) || Model.HeaderLogoPath.Contains("http") ? "" : "") + Model.HeaderLogoPath)" alt="" />
            </div>
        </div>
    }

    using (form.FormGroup().Begin())
    {
        <label class="control-label">Основное изображение</label>
        <div class="row bottom-buffer">
            <div class="col-sm-12">
                <input type="hidden" name="MainLogoId" class="form-control" value="@Model.MainLogoId">
                <button class="btn btn-success" type="button" onclick="SelectModal('Images').done(function (id) { $('input[name=MainLogoId]').val(id); if (lastSelectItem) { $('#main-image').attr('src', (lastSelectItem.Path.indexOf('http') !== -1 ? '' : '') + lastSelectItem.Path); }; })">Выбрать</button>
                <button class="btn btn-warning" type="button" onclick="$('input[name=MainLogoId]').val('0'); $('#main-image').attr('src', '');">Очистить</button>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12">
                <img class="img-thumbnail" id="main-image" src="@((string.IsNullOrEmpty(Model.MainLogoPath) || Model.MainLogoPath.Contains("http") ? "" : Url.Content("~/")) + Model.MainLogoPath)" alt="" />
            </div>
        </div>
    }

    using (var workTimeGroup = form.FormGroup().SetAutoColumns(false).AddCss(new[] { "form-horizontal" }).Begin())
    {
        @workTimeGroup.ControlLabel("Время работы:")
        using (Html.Bootstrap().GridRow().Begin())
        {
            @workTimeGroup.ControlLabel(m => m.WorkStartTime).SetMd(1)
            using (Html.Bootstrap().GridColumn(5).Begin())
            {
                using (var tGroup = form.InputGroup().AddCss(new[] {"clockpicker"}).Begin())
                {
                    @workTimeGroup.InputFor(m => m.WorkStartTime).SetControlLabel(null)
                    using (@tGroup.InputGroupAddon().Begin())
                    {
                        @Html.Bootstrap().Span().AddCss("glyphicon glyphicon-time")
                    }
                }
            }

            @workTimeGroup.ControlLabel(m => m.WorkEndTime).SetMd(1)
            using (Html.Bootstrap().GridColumn(5).Begin())
            {
                using (var tGroup = form.InputGroup().AddCss(new[] {"clockpicker"}).Begin())
                {
                    @workTimeGroup.InputFor(m => m.WorkEndTime).SetControlLabel(null)
                    using (@tGroup.InputGroupAddon().Begin())
                    {
                        @Html.Bootstrap().Span().AddCss("glyphicon glyphicon-time")
                    }
                }
            }
        }
    }
    @form.InputFor(m=>m.MinOrderSum, FormInputType.Number).AddAttribute("step","any")
    @form.InputFor(m => m.DeliveryFreeSum, FormInputType.Number).AddAttribute("step", "any")
    @form.InputFor(m => m.MinDeliveryTime, FormInputType.Number).AddAttribute("step", "any")
    @form.InputFor(m => m.MinDeliverySum, FormInputType.Number).AddAttribute("step", "any")

    using (var deliveryTimeGroup = form.FormGroup().SetAutoColumns(false).AddCss(new[] { "form-horizontal" }).Begin())
    {

        @deliveryTimeGroup.ControlLabel("Время доставки:")
        
        using (Html.Bootstrap().GridRow().Begin())
        {
            @deliveryTimeGroup.ControlLabel(m => m.DeliveryStartTime).SetMd(1)
            using (Html.Bootstrap().GridColumn(5).Begin())
            {
                using (var tGroup = form.InputGroup().AddCss(new[] {"clockpicker"}).Begin())
                {
                    @deliveryTimeGroup.InputFor(m => m.DeliveryStartTime).SetControlLabel(null)
                    using (@tGroup.InputGroupAddon().Begin())
                    {
                        @Html.Bootstrap().Span().AddCss("glyphicon glyphicon-time")
                    }
                }
            }

            @deliveryTimeGroup.ControlLabel(m => m.DeliveryEndTime).SetMd(1)
            using (Html.Bootstrap().GridColumn(5).Begin())
            {
                using (var tGroup = form.InputGroup().AddCss(new[] {"clockpicker"}).Begin())
                {
                    @deliveryTimeGroup.InputFor(m => m.DeliveryEndTime).SetControlLabel(null)
                    using (@tGroup.InputGroupAddon().Begin())
                    {
                        @Html.Bootstrap().Span().AddCss("glyphicon glyphicon-time")
                    }
                }
            }
        }
    }

    @form.Submit("Сохранить")
}
