﻿@using FluentBootstrap
@model ICollection<Domain.Dto.PlaceDto>
<div id="places-table-block">
    <script>
        var selectData = {
            @foreach (var place in Model)
            {
                @Html.Raw(string.Format("'{0}':{{ Id:'{0}', Code:'{1}', Name:'{2}' }},", place.Id, place.Code, place.Name))
            }

        };
    </script>

    @Html.Partial("~/Views/Admin/PageSizeSelector.cshtml")

    @using (var table = Html.Bootstrap().Table().SetStyle(TableStyle.Bordered | TableStyle.Hover).SetAlignment(TextAlignment.Center).SetId("places-table").AddCss("table-fixedlayout last-td-fixed").Begin())
    {
        @table.TableHeaderRow("Название", "Город", "Адрес", "Телефон", "Время работы", "Мин.сумма заказа", "Мин.сумма беспл. доставки", "Время работы доставки", "").SetAlignment(TextAlignment.Center)

        foreach (var place in Model)
        {
            @table.TableDataRow(
                place.Name,
                place.City,
                string.Format("{0}, {1}",
                place.Street, place.House),
                place.Phone,
                string.Format("{0} - {1}",
                place.WorkStartTime,
                place.WorkEndTime),
                place.MinOrderSum.ToString("F"),
                place.DeliveryFreeSum.ToString("F"),
                string.Format("{0} - {1}",
                place.DeliveryStartTime,
                place.DeliveryEndTime),
                     Html.Bootstrap().CenterBlock().AddContent(
                                    Html.Bootstrap().Span().AddCss("glyphicon glyphicon-pencil object-row pointer hide-in-select").AddAttribute("data-object-id", place.Id)
                                      ).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-remove object-row-remove pointer hide-in-select").AddAttribute("data-object-id", place.Id)
                                      ).AddContent(Html.Bootstrap().CheckBox().AddCss("multiple-selector").AddStyle("display", "none").AddAttribute("data-object-id", place.Id))
                     ).AddCss("pointer selectable").AddAttribute("data-object-id", place.Id)
        }
    }

    @Html.Partial("~/Views/Admin/Pagination.cshtml")
</div>