﻿@using FluentBootstrap
@model List<Domain.Dto.PlaceDto>
@{
    ViewBag.Title = "Филиалы";
    Layout = "~/Views/AdminLayout.cshtml";
}

<script>
    $(document).ready(function() {
        $(document).on('click', ".object-row", function () {
            EditObjectView("@Url.Action("Edit", "Places")",$(this).attr("data-object-id"));
        });

        $(document).on('click', ".object-row-remove", function () {
            DeleteObject("@Url.Action("Delete", "Places")", "@ViewBag.UpdateAction", $(this).attr("data-object-id"), "@ViewBag.UpdatableBlock").done(function () {
                $(".editable").editable();
            });
        });

        $(".editable").editable();
    });
</script>

<h2>@ViewBag.Title</h2>

@using (var toolbar = Html.Bootstrap().ButtonToolbar().Begin())
{
    using (var group = toolbar.ButtonGroup().Begin())
    {
        @group.LinkButton(" Добавить", Url.Action("Add", "Places")).SetState(ButtonState.Success).AddContent(Html.Bootstrap().Span().AddCss("glyphicon glyphicon-plus"))    
    }
}
<hr/>
<br/>

@Html.Partial("~/Views/Admin/Places/IndexData.cshtml", Model)
